/* / =====================Desktop Veiw=========================== / */

@media (min-width: 1024px) {
  body {
    margin: 0;
    line-height: normal;
  }

  :root {
    /* fonts */
    --font-outfit: Outfit;

    /* font sizes */
    --font-size-3xl: 1.38rem;

    /* Colors */
    --color-white: #fff;
    --color-gray: rgba(27, 27, 27, 0.75);
    --color-linen: #f5f2ea;

    /* border radiuses */
    --br-xl: 20px;
  }

  .frame-inner,
  .frame-item {
    position: absolute;
    border-radius: var(--br-xl);
    background-color: var(--color-linen);
    backdrop-filter: blur(33px);
    width: 13.56rem;
    height: 6.56rem;
    cursor: pointer;
  }
  .frame-inner {
    left: 15.19rem;
    cursor: pointer;
  }
  .wire-transfer,
  .wire-transfer-wrapper {
    position: absolute;
    left: 0;
    width: 10.19rem;
    height: 2.31rem;
  }
  .wire-transfer {
    top: 0;
    font-weight: 600;
    display: inline-block;
  }
  .wire-transfer-wrapper {
    top: 3rem;
  }
  .bank-building-icon {
    position: absolute;
    top: 0;
    left: 0.63rem;
    width: 2.75rem;
    height: 2.81rem;
    object-fit: cover;
  }
  .group-container {
    position: absolute;
    top: 1rem;
    left: 17.19rem;
    cursor: pointer;
  }
  .group-container1 {
    position: absolute;
    top: 0.84rem;
    left: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .bitcoin {
    position: absolute;
    top: 3.33rem;
    left: 0;
    font-weight: 600;
    display: inline-block;
    width: 10.25rem;
    height: 2.31rem;
  }
  .bitcoin-icon {
    position: absolute;
    top: 0;
    left: 0.02rem;
    width: 3.39rem;
    height: 3.39rem;
    object-fit: cover;
  }
  .group-parent {
    position: absolute;
    top: 0.84rem;
    left: 2rem;
    width: 25.38rem;
    height: 5.64rem;
    font-size: 1rem;
  }
  .rectangle-parent {
    position: relative;
    height: 8.13rem;
    text-align: left;
  }
  .with-bitcoin .group-container{
   left:1rem;
  }
  .with-bitcoin .frame-inner{
    left: 0.1rem;
  }
  .bulk-main {
    background-color: #f5f2ea;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
    align-items: center;
    justify-content: center;
  }

  .bulk-division {
    width: 90%;
    background-color: #fff;
    border-radius: 1.25rem;
    padding: 1rem 1rem 3rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bulk-div-1 {
    width: 48%;
    text-align: center;
  }

  .bulk-div-2 {
    width: 52%;
    display: block;
  }

  .subtitle-bulk {
    color: #1b1b1b;
  }

  .subtitle-bulk-2 {
    color: #1b1b1b;
  }

  .bulkorder-content {
    color: white;
    width: 100%;
    background-color: #fdc886;
    border-radius: 1rem 1rem 0rem 0rem;
    padding-top: 0.7rem;
  }
  .benefits-card {
    width: 18rem;
    height: 3.8rem;
    background-color: white;
    position: absolute;
    top: 36%;
    left: 25%;
    z-index: 100;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .benefits-card-content {
    display: flex;
    align-items: center;
  }

  .benefits-card-img {
    width: 2.9rem;
    position: absolute;
    bottom: 0.4rem;
    left: 21%;
    transform: translateX(-90%);
  }

  .benefits-card-badge {
    position: absolute;
    bottom: 0.9rem;
    width: 1.7rem;
    left: 19%;
    transform: translateX(-90%);
  }

  .benefits-card-title {
    color: #fdc886;
  }

  .bulkorder-content-2 {
    color: white;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #f5f2ea;
  }

  .bulk-content-list {
    text-align: center;
  }

  .bulk-content-list ul {
    list-style: none;
    margin: 2.5rem 0rem;
  }

  .bulk-content-list ul li {
    margin-right: 3.75rem;
  }

  .bulk-content-list ul li:before {
    content: "✓";
    margin-right: 0.3125rem;
    margin-top: 0.3125rem;
  }

  .listing {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    color: #1b1b1b;
    margin: 0rem 1.875rem 0.125rem 6.25rem;
  }

  .listing-div {
    padding: 5rem 4rem 0rem 4rem;
  }

  .footer-card2 {
    color: #a1a19f;
    font-size: 0.8rem;
    text-align: justify;
    padding: 1.625rem;
  }

  .ant-form-item-control-input input:focus,
  .ant-form-item-control-input input:hover,
  .ant-select-selector:hover,
  .ant-select-focused .ant-select-selection,
  .ant-select-selector:focus
    .ant-form-item-control-input
    .ant-input-number:focus,
    .ant-input-number:active,
    .ant-input-number::selection,
  .ant-form-item-control-input .ant-input-number:hover,
  .ant-form-item-control-input input[type="number"]:focus,
  .ant-form-item-control-input input[type="number"]:hover,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox-wrapper::selection,
  .ant-form-item-control-input input:focus,
  .ant-form-item-control-select
    .ant-select-selector:focus
    .ant-checkbox-wrapper:focus
    .ant-checkbox-inner {
    border-color: #fdc886 !important;
  }
  .ant-input-number-input {
    font-weight: 500;
  }
  .ant-btn:hover,
  .ant-btn:focus {
    border-color: #fdc886 !important;
    color: #1b1b1b !important;
    background-color: #fdc886 !important;
  }
  /* .ant-btn >span:hover,.ant-btn >span:focus  {
  border-color: #fdc886 !important;
  color: #1b1b1b !important;
  background-color: #fdc886 !important;
 } */
  .ant-select-item-option[aria-selected="true"] {
    border-color: #fdc886 !important;
  }
  .buyNowBtn {
    border-radius: 1rem;
    text-align: center;
    background-color: #fdc886;
    width: 70%;
    margin: 0 7rem;
  }
  .buyNowBtn:hover,
  .buyNowBtn:focus {
    border-color: #000000 !important;
    color: #1b1b1b !important;
    background-color: #fdc886;
  }
  .tick-class {
    margin: 0.2rem 0.4rem;
  }
  .PhoneInput {
    width: 7%;
  }
  .countrycode{
    width:30%;
  }
}

/* / =====================Tablet Veiw=========================== / */
@media (min-width: 641px) and (max-width: 1023px) {
  body {
    margin: 0;
    line-height: normal;
  }

  :root {
    /* fonts */
    --font-outfit: Outfit;

    /* font sizes */
    --font-size-3xl: 1.38rem;

    /* Colors */
    --color-white: #fff;
    --color-gray: rgba(27, 27, 27, 0.75);
    --color-linen: #f5f2ea;

    /* border radiuses */
    --br-xl: 20px;
  }

  .frame-inner,
  .frame-item {
    position: absolute;
    border-radius: var(--br-xl);
    background-color: var(--color-linen);
    backdrop-filter: blur(33px);
    width: 13.56rem;
    height: 6.56rem;
    cursor: pointer;
  }
  .frame-inner {
    left: 15.19rem;
    cursor: pointer;
  }
  .wire-transfer,
  .wire-transfer-wrapper {
    position: absolute;
    left: 0;
    width: 10.19rem;
    height: 2.31rem;
  }
  .wire-transfer {
    top: 0;
    font-weight: 600;
    display: inline-block;
  }
  .wire-transfer-wrapper {
    top: 3rem;
  }
  .bank-building-icon {
    position: absolute;
    top: 0;
    left: 0.63rem;
    width: 2.75rem;
    height: 2.81rem;
    object-fit: cover;
  }
  .group-container {
    position: absolute;
    top: 1rem;
    left: 17.19rem;
    cursor: pointer;
  }
  .group-container1 {
    position: absolute;
    top: 0.84rem;
    left: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .bitcoin {
    position: absolute;
    top: 3.33rem;
    left: 0;
    font-weight: 600;
    display: inline-block;
    width: 10.25rem;
    height: 2.31rem;
  }
  .bitcoin-icon {
    position: absolute;
    top: 0;
    left: 0.02rem;
    width: 3.39rem;
    height: 3.39rem;
    object-fit: cover;
  }
  .group-parent {
    position: absolute;
    top: 0.84rem;
    left: 2rem;
    width: 25.38rem;
    height: 5.64rem;
    font-size: 1rem;
  }
  .rectangle-parent {
    position: relative;
    height: 8.13rem;
    text-align: left;
  }
  .with-bitcoin .group-container{
    left:1rem;
   }
   .with-bitcoin .frame-inner{
     left: 0.1rem;
   }
  .bulk-main {
    background-color: #f5f2ea;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
    align-items: center;
    justify-content: center;
  }

  .bulk-division {
    width: 90%;
    background-color: #fff;
    border-radius: 1.25rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bulk-div-1 {
    width: 100%;
    text-align: center;
  }

  .subtitle-bulk {
    color: #1b1b1b;
  }

  .subtitle-bulk-2 {
    color: #1b1b1b;
  }

  .bulkorder-content {
    color: white;
    width: 100%;
    background-color: #fdc886;
    padding: 1rem 0;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .benefits-card {
    width: 18rem;
    height: 3.5rem;
    background-color: white;
    position: absolute;
    top: 19.5%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefits-card-content {
    display: flex;
    align-items: center;
  }

  .benefits-card-img {
    width: 2.3rem;
    position: absolute;
    left: 15%;
    transform: translateX(-90%);
  }

  .benefits-card-badge {
    position: absolute;
    width: 1.2rem;
    left: 13%;
    transform: translateX(-90%);
  }

  .benefits-card-title {
    color: #fdc886;
  }

  .bulkorder-content-2 {
    color: white;
    width: 100%;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background-color: #f5f2ea;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 2rem 0;
  }

  .listing {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    color: #1b1b1b;
  }

  .listing-div {
    text-align: center;
    width: 30%;
  }

  .footer-card2 {
    width: 60%;
    color: #a1a19f;
    font-size: 1rem;
    text-align: justify;
  }

  .ant-form-item-control-input input:focus,
  .ant-form-item-control-input input:hover,
  .ant-select-selector:hover,
  .ant-select-focused .ant-select-selection,
  .ant-select-selector:focus
    .ant-form-item-control-input
    .ant-input-number:focus,
  .ant-form-item-control-input .ant-input-number:hover,
  .ant-form-item-control-input input[type="number"]:focus,
  .ant-form-item-control-input input[type="number"]:hover,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox-wrapper::selection,
  .ant-form-item-control-input input:focus,
  .ant-form-item-control-select
    .ant-select-selector:focus
    .ant-checkbox-wrapper:focus
    .ant-checkbox-inner {
    border-color: #fdc886 !important;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    border-color: #000000 !important;
    color: #1b1b1b !important;
    background-color: #fdc886;
  }

  .ant-select-item-option[aria-selected="true"] {
    border-color: #fdc886 !important;
  }
  .buyNowBtn {
    border-radius: 1rem;
    text-align: center;
    background-color: #fdc886;
    width: 70%;
    margin: 0 15%;
  }
  .countrycode{
    width:38%;
  }
}

/* / =====================Mobile Veiw=========================== / */
@media (min-width: 10px) and (max-width: 640px) {
  body {
    margin: 0;
    line-height: normal;
  }

  :root {
    --font-outfit: Outfit;
    --font-size-3xl: 1.38rem;
    --color-white: #fff;
    --color-gray: rgba(27, 27, 27, 0.75);
    --color-linen: #f5f2ea;
    --br-xl: 20px;
  }

  .frame-inner,
  .frame-item {
    position: absolute;
    border-radius: var(--br-xl);
    background-color: var(--color-linen);
    backdrop-filter: blur(33px);
    width: 13.56rem;
    height: 6.56rem;
    cursor: pointer;
  }

  .frame-inner {
    left: 0.19rem;
    cursor: pointer;
  }

  .wire-transfer,
  .wire-transfer-wrapper {
    position: absolute;
    left: 0;
    width: 10.19rem;
    height: 2.31rem;
  }

  .wire-transfer {
    top: 0;
    font-weight: 600;
    display: inline-block;
  }

  .wire-transfer-wrapper {
    bottom: 3.7rem;
    left: 6.2rem;
  }

  .bank-building-icon {
    position: absolute;
    bottom: 4rem;
    left: 5.53rem;
    width: 2.75rem;
    height: 2.81rem;
    object-fit: cover;
  }

  .group-container,
  .group-container1 {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  .group-container {
    top: 1rem;
  }

  .group-container1 {
    top: 8rem;
    font-size: 1rem;
  }

  .bitcoin {
    position: absolute;
    bottom: 18rem;
    left: 5rem;
    font-weight: 600;
    display: inline-block;
    width: 10.25rem;
    height: 2.31rem;
  }

  .bitcoin-icon {
    position: absolute;
    bottom: 18rem;
    left: 5.02rem;
    width: 3.39rem;
    height: 3.39rem;
    object-fit: cover;
  }

  .group-parent {
    position: absolute;
    top: 0.84rem;
    left: 2rem;
    width: 25.38rem;
    height: 5.64rem;
    font-size: 1rem;
  }

  .rectangle-parent {
    position: relative;
    height: 22rem;
    text-align: left;
  }

  .payment-btn {
    width: 100%;
  }


    .rectangle-parent {
      height: auto;
    }

    .frame-item,
    .frame-inner {
      position: relative;
      width: 100%;
      margin-bottom: 1rem;
    }

    .group-container,
    .group-container1 {
      position: relative;
      left: 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
    
  .bulk-main {
    background-color: #f5f2ea;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
    align-items: center;
    justify-content: center;
  }

  .bulk-division {
    width: 90%;
    background-color: #fff;
    border-radius: 1.25rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bulk-div-1 {
    width: 100%;
    text-align: center;
  }

  .subtitle-bulk {
    color: #1b1b1b;
  }

  .subtitle-bulk-2 {
    color: #1b1b1b;
  }

  .bulkorder-content {
    color: white;
    width: 100%;
    background-color: #fdc886;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .benefits-card {
    display: none;
  }

  .bulkorder-content-2 {
    display: none;
  }

  .ant-form-item-control-input input:focus,
  .ant-form-item-control-input input:hover,
  .ant-select-selector:hover,
  .ant-select-focused .ant-select-selection,
  .ant-select-selector:focus
    .ant-form-item-control-input
    .ant-input-number:focus,
  .ant-form-item-control-input .ant-input-number:hover,
  .ant-form-item-control-input input[type="number"]:focus,
  .ant-form-item-control-input input[type="number"]:hover,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox-wrapper::selection,
  .ant-form-item-control-input input:focus,
  .ant-form-item-control-select
    .ant-select-selector:focus
    .ant-checkbox-wrapper:focus
    .ant-checkbox-inner {
    border-color: #fdc886 !important;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    border-color: #000000 !important;
    color: #1b1b1b !important;
    background-color: #fdc886;
  }

  .ant-select-item-option[aria-selected="true"] {
    border-color: #fdc886 !important;
  }

  .buyNowBtn {
    border-radius: 1rem;
    text-align: center;
    margin: auto;
    background-color: #fdc886;
    width: 100%;
  }
  .PhoneInput {
    width: 15%;
  }
  .countrycode{
    width: 83%;
  }
}
