.bulk-division {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 1.25rem;
  display: flex;
  position: absolute;
  left: 9%;
  top: 4.3125rem;
 width: 82%;
}
.bulk-main{
  background-color: #F5F2EA;
  width: 100%;
  padding-top: 0.3125rem;
  height: 120vh !important;
  top: 0;
  position: absolute;
}
.bulk-div-1 {
  width: 44%;
  margin-top: 0.125rem;
}
.bulk-div-2{
  width: 60%;

}
.subtitle-bulk {
  color: #1b1b1b;
}
.subtitle-bulk-2 {
  color: #1b1b1b;
  margin-top: -0.625rem;
}
.bulk-inner-div-1 {
  background-color: #fdc886;
  height: 25rem;
  width: 50%;
}
.bulk-inner-div-2 {
  background-color: #f5f2ea;
  height: 25rem;
  width: 50%;
}

.bulkorder-content {
  text-align: center;
  margin: auto;
  padding-top: 0.3125rem;
  color: white;
  
}
.bulkorder-content-2 {
  text-align: center;
  margin: auto;
  padding-top: 0px;
  color: white;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}
.bulk-content-list {
  text-align: center;
}
.bulk-content-list ul {
  list-style: none;
  margin: 2.5rem 0rem;
}
.bulk-content-list ul li {
  margin-right: 3.75rem;
}

.bulk-content-list ul li:before {
  content: "✓";
  margin-right: 0.3125rem;
  margin-top: 0.3125rem;
}
.listing{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  color: #1b1b1b;
  margin: 0rem 1.875rem 0.125rem 6.25rem;
  
}
.listing-div{

  margin-top: 1.875rem;
}
.footer-card2{
  color: #A1A19F;
  font-size: 0.625rem;
  text-align: left;
  padding: 0.625rem;
  margin: -0.6875rem 1.25rem;
  
}

.ant-form-item-control-input input:focus,
.ant-form-item-control-input input:hover,
.ant-select-selector:hover,
.ant-select-focused .ant-select-selection,
.ant-select-selector:focus
.ant-form-item-control-input .ant-input-number:focus,
.ant-form-item-control-input .ant-input-number:hover,
.ant-form-item-control-input input[type="number"]:focus,
.ant-form-item-control-input input[type="number"]:hover,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-wrapper::selection, 
.ant-form-item-control-input input:focus,
.ant-form-item-control-select .ant-select-selector:focus
.ant-checkbox-wrapper:focus .ant-checkbox-inner {
  border-color: #fdc886 !important; 
}
.ant-btn:hover,
.ant-btn:focus {
  border-color: #000000 !important; 
  color: #1b1b1b !important;
  background-color: #fdc886;/* Change this to your desired color */
   /* Optional: Add a box shadow */
}
.ant-select-item-option[aria-selected="true"]{
  border-color: #fdc886 !important;
}