/* / =====================Desktop Veiw=========================== / */

@media (min-width: 1024px) {

  .checkout-main {
    background-color: #F5F2EA;
    height: 100vh;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .twocards {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
  }
  
  .card1{
    width: 30%;
  }
  
  .card2{
    width: 60%;
  }
  
  .custom-card1 .ant-card-head-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .custom-link {
    font-size: 0.9375rem;
    color: black;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }


  .custom-link:hover {
    color: black;
  }

  .custom-para {
    font-size: 1rem;
    margin-left: 2rem;
    padding: 0.3125rem 0.625rem 0.625rem 0rem;
  }


  .custom-tooltip {
    display: flex;
    align-items: baseline;
  }


  .custom-bottom-para {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0.4375rem 0rem;
  }


  .BTC {
    font-size: 1.0625rem;
    line-height: 1.5;
    margin-top: 0.625rem;
    margin-left: -0.1875rem;
  }


  .custom-upper-para {
    display: flex;
    flex-direction: column;
  }
  
  .custom-upper-para-item {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0.625rem;
    width: 90%;
    font: 1rem;
    margin-left: 2rem;
    border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
  }
  
  .custom-upper-para-item img {
    width: 4rem;
    height: 3rem;
  }

  .value{
    font: 1rem;
    /* margin-top: 2rem; */
    display: flex;
    justify-content: space-between;
   margin-left: 1rem;
   font-weight: 400;
   margin-right: 2rem;
   /* border: 1px solid red; */
  }



  .item-details{
    display: flex;
    justify-content: space-between;
   align-items: center;
  }
 
  
  .swiggy {
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0.125rem 0rem 0rem 0rem;
    
  }

  .select-box {
    display: flex;
    align-items: center;
  }


  .select {
    margin: 4rem 1.375rem 0rem 0rem;
    /* border: 1px solid red; */
  }


  .se-box {
    display: flex;
    flex-direction: column;
    
  }
  
  
  
  .custom-card1 .ant-card-head-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 0rem 1rem 0rem;
    
  }
  
  .checkbox {
    display: flex;
    align-items: baseline;
    color: #6a716e;
    margin: 1rem 0rem;
  }
  
  .email-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 70%;
    font-size: 1rem;
    color: black;
   
  }
  .email {
    font-size: 1rem;
    color: #6a716e;
  }
  
  .Contact-title1{
    padding: 1rem 0rem 2rem 0;
  }
  
  .payment-btn {
    padding:  1.4rem 5.25rem ;
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  
  .payment button {
    color: #1b1b1b;
    background-color: #FDC886 ;
  }
  
  .payment {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: left;
    margin-top: 1rem;
  }
  
  .payment-btn:hover {
    border-color: #FDC886;
  }
  
  .terms {
    color: black;
    margin: 0.125rem;
    text-decoration: underline;
  }
  
  .custom-upper-cardvalue{
    margin: -3.125rem 1.25rem 0.625rem 1.25rem;
    display:flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .custom-upper-cardvalue1{
    margin: -1.125rem 1.25rem 0.625rem 1.25rem;
    display:flex;
    flex-direction: column;
  }
  .custom-bottom-para-total{
    display: flex;
    flex-direction: column;
  }
    .bottom-para-total{
      margin: 0.125rem 1.25rem;
    }
    .BTC-total{
      font-size: 1.0625rem;
      line-height: 1.5;
      margin-top: 1.25rem;
    }
    .cardtype-img{
      width:15%;
      height: 2%;
      margin-bottom: 0.1875rem;
      margin-right: 0.625rem;
    }
    .visacardtype-img{
      width: 15%;
      height: 0% !important;
      margin-right: 0.625rem;
    }
    .visa-mastercard-checkout{
      width:3rem;
    }
    
  }
  
  /* / ******************** Tablet Screen ******************* / */
  
  @media (min-width: 641px) and (max-width: 1023px) {
    .checkout-main {
      background-color: #F5F2EA;
      padding: 5rem 0;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .twocards {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
     justify-content: center;
      gap: 2rem;
      width: 100%;
    }
    
    .card1{
       width: 60%;
       margin: 0 auto;
    }
    
    .custom-card .ant-card-head-title {
      font-size: 1.0625rem;
      font-weight: 600;
      line-height: 1.25;
    }
    
    .custom-link {
      font-size: 0.9375rem;
      color: black;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
      margin: 0.9375rem;
    }
  
    .custom-link:hover {
      color: black;
    }
  
    .custom-para {
      font-size: 1rem;
      margin-left: 2rem;
      padding: 0.3125rem 0.625rem 0.625rem 0rem;
    }
  
    .custom-tooltip {
      display: flex;
      align-items: baseline;
    }
  
    .custom-bottom-para {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin: 0.4375rem 0rem;
    }
  
  
    .BTC {
      font-size: 1.0625rem;
      line-height: 1.5;
      margin-top: 0.625rem;
      margin-left: -0.1875rem;
    }
  
  
    .custom-upper-para {
      margin: 0.4375rem 1.25rem 0.625rem 0.625rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
    }
    
    .custom-upper-para-item {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-bottom: 0.8rem;
      width: 90%;
      border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
    }
    
    .custom-upper-para-item img {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 3rem;
    }
    
    .custom-upper-para-item .value {
      margin-right: 0.625rem;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
    }
  
    .item-details{
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 3rem;
    }
  
    .custom-upper-para-item .BTC {
      margin-right: 0.625rem;
    }
    
    .custom-upper-para-item .divider {
      margin-right: 0.625rem;
    }
    
    
    .swiggy {
      font-size: 0.9375rem;
      font-weight: 600;
      margin: 0.125rem 0rem 0rem 0rem;
    }
  
    .value {
      font-weight: 400;
      margin-top: 0.1875rem;
    }
  
    .select-box {
      display: flex;
      align-items: center;
    }
  
    .select {
      margin: 0rem 1.375rem 0rem 0rem;
    }
  
    .se-box {
      display: flex;
      flex-direction: column;
    }
  
    .card2{
      width: 90%;
      margin: 0 auto;    
    }
  
    .Contact-title {
      font-size: 1.25rem;
      font-weight: 600;
      padding: 2rem 1.875rem 2rem 0rem;
    }
  
  
    .checkbox {
      display: flex;
      align-items: baseline;
      color: #6a716e;
      margin: 0.1875rem 1.25rem;
    }
  
    .email-box {
      border: 0.0625rem solid rgb(159, 159, 159);
      border-radius: 0.3125rem;
      width: 70%;
      font-size: 0.9375rem;
      margin: 0.1875rem 0rem 0.1875rem 1.25rem;
      color: black;
    }
  
    .email {
      font-size: 0.9375rem;
      margin: 0.625rem 0rem 0.1875rem 1.25rem;
      color: #6a716e;
    }
    
    .payment-btn {
      padding: 0 5.25rem;
      border-radius: 624.9375rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.625rem 1.25rem;
      min-height: 2.875rem;
      font-size: 0.875rem;
    }
  
    .payment button {
      color: #1b1b1b;
      background-color: #FDC886 !important;
    }
  
  
    .payment {
      display: block;
      width: 1.5rem;
      height: 3rem;
      text-align: left;
    }
  
    .payment-btn:hover {
      border-color: #FDC886;
    }
  
    .terms {
      color: black;
      margin: 0.125rem;
      text-decoration: underline;
    }
  
    .custom-upper-cardvalue{
      margin: -3.125rem 1.25rem 0.625rem 1.25rem;
      display:flex;
      align-items: baseline;
      justify-content: space-between;
    }
  
    .custom-upper-cardvalue1{
      margin: -1.125rem 1.25rem 0.625rem 1.25rem;
      display:flex;
      flex-direction: column;
    }
  
  
    .custom-bottom-para-total{
      display: flex;
      flex-direction: column;
    }
  
      .bottom-para-total{
        margin: 0.125rem 1.25rem;
      }
  
      .BTC-total{
        font-size: 1.0625rem;
        line-height: 1.5;
        margin-top: 1.25rem;
      }
  
      .cardtype-img{
        width:25%;
        height: 2%;
        margin-bottom: 0.1875rem;
        margin-right: 0.625rem;
      }
  
      .visacardtype-img{
        width: 23%;
        height: 0% !important;
        margin-right: 0.625rem;
      }
  }
  
  
  /* / *********************** Mobile Screen ******************** / */
  
  
  @media (min-width: 10px) and (max-width: 640px) {
  
    .checkout-main {
      background-color: #F5F2EA;
      padding: 3rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .twocards {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.25rem;
      width: 100%;
    }
    
    .card1{
      width: 90%;
      margin: 0 auto;
    }
    
    .custom-card .ant-card-head-title {
      font-size: 1.0625rem;
      font-weight: 600;
      line-height: 1.25;
    }
    
    .custom-link {
      font-size: 0.9375rem;
      color: black;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
      margin: 0.9375rem;
    }
  
    .custom-link:hover {
      color: black;
    }
  
    .custom-para {
      font-size: 1.0625rem;
      padding: 0.3125rem 0.625rem 0.625rem 0rem;
    }
  
    .custom-tooltip {
      display: flex;
      align-items: baseline;
    }
  
    .custom-bottom-para {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  
  
    .BTC {
      font-size: 1rem;
    }
  
  
    .custom-upper-para {
      margin: 0.4375rem 1.25rem 0.625rem 0.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .custom-upper-para-item {
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;
      border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
    }
    
    .custom-upper-para-item img {
      width: 3rem;
      height: 3rem;
    }
    
    .custom-upper-para-item .value {
     
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
      
    }

    .item-details{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      width: 100%;
      gap: 1rem;
      margin-left: 1rem;
    }
  
    .custom-upper-para-item .BTC {
      margin-right: 0.625rem;
    }
    
    .custom-upper-para-item .divider {
      margin-right: 0.625rem;
    }
    
    
    .swiggy {
      font-size: 0.9375rem;
      font-weight: 600;
      margin: 0.125rem 0rem 0rem 0rem;
    }
  
    .value {
      font-weight: 400;
      margin-top: 0.1875rem;
    }
  
    .select-box {
      display: flex;
      align-items: center;
    }
  
    .select {
      margin: 0rem 1.375rem 0rem 0rem;
    }
  
    .se-box {
      display: flex;
      flex-direction: column;
    }
  
    .card2{
      width: 95%;
      margin: 0 auto;
      
    }
  
    .Contact-title {
      width: 90%;
      font-size: 0.8rem;
      padding: 2rem 0rem;
      font-weight: 500;
    }
  
    .checkbox {
      display: flex;
      align-items: baseline;
      color: #6a716e;
      margin: 0.1875rem 1.25rem;
    }
  
    .email-box {
      border: 0.0625rem solid rgb(159, 159, 159);
      border-radius: 0.3125rem;
      width: 80%;
      font-size: 0.9375rem;
      margin: 0.1875rem 0rem 0.1875rem 1.25rem;
      color: black;
    }
  
    .email {
      font-size: 0.9375rem;
      margin: 0rem 0rem 0.2rem 1.25rem;
      color: #6a716e;
    }
    
    .payment-btn {
      padding: 1.5rem;
      width: 100%;
      border-radius: 624.9375rem;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 2.875rem;
      font-size: 1rem;
    }
  
    .payment button {
      color: #1b1b1b;
      background-color: #FDC886 ;
    }
  
  
    .payment {
      display: block;
      width: 80%;
      height: 3rem;
      margin-left: 2rem;
    }
  
    .payment-btn:hover {
      border-color: #FDC886;
    }
  
    .terms {
      color: black;
      margin: 0.125rem;
      text-decoration: underline;
    }
  
    .custom-upper-cardvalue{
      display:flex;
      align-items: baseline;
      justify-content: space-between;
    }
  
    .custom-upper-cardvalue1{
      margin: -1.125rem 1.25rem 0.625rem 1.25rem;
      display:flex;
      flex-direction: column;
    }
  
  
    .custom-bottom-para-total{
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
    }
  
      .bottom-para-total{
        margin: 0.125rem 1.25rem;
      }
  
      .BTC-total{
        font-size: 1.0625rem;
        line-height: 1.5;
        margin-top: 1.25rem;
      }
  
      .cardtype-img{
        width:15%;
        height: 2%;
        margin-bottom: 0.1875rem;
        margin-right: 0.625rem;
      }
  
      .visacardtype-img{
        width: 15%;
        height: 0% !important;
        margin-right: 0.625rem;
      }
  }