/* / / =====================Desktop Veiw=========================== / / */

@media (min-width: 1024px) {
  .checkout-main {
    background-color: #f5f2ea;
    height: 100vh;
    padding: 7rem 0 3rem 0;
    display: flex;
    justify-content: center;
  }

  .twocards {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
  }

  .card1 {
    width: 35%;
  }

  .card2 {
    width: 50%;
  }

  .custom-card1 .ant-card-head-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .custom-link {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }

  .custom-link:hover {
    color: black;
  }

  .custom-para {
    font-size: 1rem;
  }

  .custom-tooltip {
    display: flex;
    align-items: baseline;
  }

  .custom-bottom-para {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: -0.5375rem 0rem;
  }

  .custom-upper-para {
    display: flex;
    flex-direction: column;
  }

  .custom-upper-para-item {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0.625rem;
    width: 90%;
    font: 1rem;
    margin-left: 2rem;
    border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
  }

  .custom-upper-para-item img {
    width: 2rem;
    height: 3rem;
  }

  .value {
    font: 1rem;
    display: flex;
    margin-left: 0rem;
    font-weight: 400;
    margin-right: 2rem;
  }

  .valueheading {
    font-weight: 600;
    margin-bottom: 0rem;
  }

  .valuess {
    display: flex;
    padding: 1rem 1rem 0 0;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .valuessinner {
    display: flex;
    width: 70%;
  }

  .item-actions > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-details {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .visa-mastercard-checkout {
    width: 25%;
    height: 60%;
  }

  .swiggy {
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0.125rem 0rem 0rem 0rem;
  }

  .select-box {
    display: flex;
    align-items: center;
  }

  .se-box {
    display: flex;
    flex-direction: column;
  }

  .custom-card1 .ant-card-head-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 0rem 0rem 0rem;
  }

  .checkbox {
    display: flex;
    align-items: baseline;
    color: #6a716e;
    margin: 1rem 0rem;
  }

  .email-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 70%;
    font-size: 1rem;
    color: black;
    font-weight: 500;
  }
  .email {
    font-size: 1rem;
    color: #6a716e;
    margin-bottom: 0.5rem;
  }

  .Contact-title1 {
    padding: 0.5rem 0rem;
  }
  .fullname {
    font-size: 1rem;
    color: #6a716e;
    margin-bottom: 0.5rem;
  }
  .fullname-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 70%;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .ant-checkbox-checked .ant-checkbox-inner::before {
    background-color: #fdc886 !important;
    border-color: #fdc886 !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fdc886 !important;
    border-color: #fdc886 !important;
  }
  .Contact-title1.ant-card .ant-card-body {
    padding: 1rem 0rem 2.9rem 2rem;
  }
  .payment-btn {
    padding: 1.4rem 5.25rem;
    border-radius: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: 0.03s all;
  }
  .payment-btn:hover {
    background-color: #f0bd7f !important;
    border-color: #fdc886 !important;
  }

  .payment-btn:active {
    transform: scale(0.97);
  }

  .payment button {
    color: #1b1b1b;
    background-color: #fdc886;
  }

  .payment {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: left;
    margin-top: 1rem;
  }

  .payment-btn:hover {
    border-color: #fdc886;
  }

  .terms {
    color: black;
    margin: 0.125rem;
    /* text-decoration: underline; */
  }
  .terms a {
    color: #f8b869;
  }
  .custom-upper-cardvalue {
    margin-top: -2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .custom-upper-cardvalue1 {
    margin: -1.125rem 1.25rem 0.625rem 1.25rem;
    display: flex;
    flex-direction: column;
  }

  .custom-bottom-para-total {
    display: flex;
    flex-direction: column;
  }

  .bottom-para-total {
    margin: 0.125rem 1.25rem;
  }

  .BTC {
    padding-top: 0.5rem;
  }

  .BTC-total {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 1.25rem;
  }

  .cardtype-img {
    width: 25%;
    height: 2%;
    margin-bottom: 0.1875rem;
    margin-right: 0.625rem;
  }

  .visacardtype-img {
    width: 23%;
    height: 1% !important;
    margin-right: 0.625rem;
  }
}

/* / / ******************* Tablet Screen ****************** / / */

@media (min-width: 641px) and (max-width: 1023px) {
  .checkout-main {
    background-color: #f5f2ea;
    padding: 5rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .twocards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .card1 {
    width: 60%;
    margin: 0 auto;
  }

  .custom-card .ant-card-head-title {
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.25;
  }

  .custom-link {
    font-size: 0.9375rem;
    color: black;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    margin: 0.9375rem;
  }

  .custom-link:hover {
    color: black;
  }

  .custom-para {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .custom-tooltip {
    display: flex;
    align-items: baseline;
  }

  .custom-bottom-para {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .value {
    font: 1rem;
    display: flex;
    font-weight: 400;
  }

  .valueheading {
    font-weight: 600;
    margin-bottom: 0rem;
  }

  .valuess {
    display: flex;
    padding: 1rem 1rem 0 0;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .valuessinner {
    display: flex;
    width: 70%;
    text-align: left;
  }

  .item-actions > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }

  .item-details {
    margin-left: 0.8rem;
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
  }

  .visa-mastercard-checkout {
    width: 25%;
    height: 70%;
  }

  .custom-upper-para {
    margin: 0.4375rem 1.25rem 0.625rem 0.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }

  .custom-upper-para-item {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0.8rem;
    width: 90%;
    border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
  }

  .custom-upper-para-item img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 3rem;
  }

  .custom-upper-para-item .value {
    margin-right: 0.625rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }

  .custom-upper-para-item .BTC {
    margin-right: 0.625rem;
  }

  .custom-upper-para-item .divider {
    margin-right: 0.625rem;
  }

  .swiggy {
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0.125rem 0rem 0rem 0rem;
  }

  .select-box {
    display: flex;
    align-items: center;
  }

  .select {
    margin: 0rem 1.375rem 0rem 0rem;
  }

  .se-box {
    display: flex;
    flex-direction: column;
  }

  .card2 {
    width: 90%;
    margin: 0 auto;
  }

  .Contact-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 2rem 1.875rem 2rem 0rem;
  }
  .Contact-title1.ant-card .ant-card-body {
    padding: 0.3rem 2rem 1rem 2rem;
  }

  .checkbox {
    display: flex;
    align-items: baseline;
    color: #6a716e;
    margin: 0.1875rem 1.25rem;
  }

  .email-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 70%;
    font-size: 0.9375rem;
    margin: 0.1875rem 0rem 0.1875rem 1.25rem;
    color: black;
  }
  .email {
    font-size: 0.9375rem;
    margin: 0.625rem 0rem 0.1875rem 1.25rem;
    color: #6a716e;
  }
  .fullname {
    font-size: 1rem;
    margin: 0.625rem 0rem 0.1875rem 1.25rem;
  }
  .fullname-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 70%;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    margin: 0.1875rem 0rem 0.1875rem 1.25rem;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fdc886;
    border-color: #fdc886;
  }
  .payment-btn {
    padding: 0 5.25rem;
    border-radius: 624.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.625rem 1.25rem;
    min-height: 2.875rem;
    font-size: 0.875rem;
    transition: 0.03s all;
  }

  .payment-btn:hover {
    background-color: #333333;
  }

  .payment-btn:active {
    transform: scale(0.97);
  }
  .payment button {
    color: #1b1b1b;
    background-color: #fdc886 !important;
  }

  .payment {
    display: block;
    width: 1.5rem;
    height: 3rem;
    text-align: left;
  }

  .payment-btn:hover {
    border-color: #fdc886;
  }

  .terms {
    color: black;
    margin: 0.125rem;
    /* text-decoration: underline; */
  }

  .custom-upper-cardvalue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    width: 90%;
    margin-top: -1rem;
    /* border: 1px solid red; */
  }

  .custom-upper-cardvalue1 {
    margin: -1.125rem 1.25rem 0.625rem 1.25rem;
    display: flex;
    flex-direction: column;
  }

  .custom-bottom-para-total {
    display: flex;
    flex-direction: column;
  }

  /* .bottom-para-total{
        margin: 0.125rem 1.25rem;
      } */

  .BTC-total {
    font-size: 1rem;
  }

  .cardtype-img {
    width: 25%;
    height: 2%;
    margin-bottom: 0.1875rem;
    margin-right: 0.625rem;
  }

  .visacardtype-img {
    width: 23%;
    height: 1% !important;
    margin-right: 0.625rem;
  }
}

/* / / ********************** Mobile Screen ******************* / / */

@media (min-width: 10px) and (max-width: 640px) {
  .checkout-main {
    background-color: #f5f2ea;
    padding: 3rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .twocards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
  }

  .card1 {
    width: 90%;
    margin: 0 auto;
  }

  .custom-card .ant-card-head-title {
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.25;
  }

  .custom-link {
    font-size: 0.9375rem;
    color: black;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    margin: 0.9375rem;
  }

  .custom-link:hover {
    color: black;
  }

  .custom-para {
    font-size: 1rem;
  }

  .custom-tooltip {
    display: flex;
    align-items: baseline;
  }

  .custom-bottom-para {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .value {
    font: 1rem;
    display: flex;
    font-weight: 400;
  }

  .value123 {
    /* border: 1px solid red; */
    padding: 0;
  }

  .valueheading {
    font-weight: 600;
    margin-bottom: 0rem;
    /* border: 1px solid red; */
  }

  .valuess {
    display: flex;
    padding: 1rem 1rem 0 0;
    width: 100%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .valuessinner {
    display: flex;
    width: 70%;
    text-align: left;
  }

  .item-actions > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-details {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .visa-mastercard-checkout {
    width: 35%;
    height: 50%;
  }

  .BTC {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .custom-upper-para {
    margin: 0.4375rem 1.25rem 0.625rem 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-upper-para-item {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
  }

  .custom-upper-para-item img {
    width: 3rem;
    height: 3rem;
  }

  .custom-upper-para-item .value {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .custom-upper-para-item .BTC {
    margin-right: 0.625rem;
  }

  .custom-upper-para-item .divider {
    margin-right: 0.625rem;
  }

  .swiggy {
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0.125rem 0rem 0rem 0rem;
  }

  .select-box {
    display: flex;
    align-items: center;
  }

  .select {
    margin: 0rem 1.375rem 0rem 0rem;
  }

  .se-box {
    display: flex;
    flex-direction: column;
  }

  .card2 {
    width: 95%;
    margin: 0 auto;
  }

  .Contact-title {
    width: 90%;
    font-size: 0.8rem;
    padding: 0.3rem 0rem;
    font-weight: 500;
  }

  .Contact-title1.ant-card .ant-card-body {
    padding: 0.3rem 2rem 1rem 2rem;
  }

  .checkbox {
    display: flex;
    align-items: baseline;
    color: #6a716e;
    margin: 0.1875rem 1.25rem;
  }

  .email-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 80%;
    font-size: 0.9375rem;
    margin: 0.1875rem 0rem 0.1875rem 1.25rem;
    color: black;
  }

  .email {
    font-size: 0.9375rem;
    margin: 0rem 0rem 0.2rem 1.25rem;
    color: #6a716e;
  }
  .fullname {
    font-size: 1rem;
    margin: 0rem 0rem 0.2rem 1.25rem;
  }
  .fullname-box {
    border: 0.0625rem solid rgb(159, 159, 159);
    border-radius: 0.3125rem;
    width: 80%;
    font-size: 1rem;
    color: black;
    font-weight: 500;
    margin: 0.1875rem 0rem 0.1875rem 1.25rem;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fdc886;
    border-color: #fdc886;
  }
  .payment-btn {
    padding: 1.5rem;
    width: 100%;
    border-radius: 624.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.875rem;
    font-size: 1rem;
    transition: 0.03s all;
  }

  .payment-btn:hover {
    background-color: #333333;
  }

  .payment-btn:active {
    transform: scale(0.97);
  }

  .payment button {
    color: #1b1b1b;
    background-color: #fdc886;
  }

  .payment {
    display: block;
    width: 80%;
    height: 3rem;
    margin-left: 2rem;
  }

  .payment-btn:hover {
    border-color: #fdc886;
  }

  .terms {
    color: black;
    margin: 0.125rem;
    /* text-decoration: underline; */
  }

  .custom-upper-cardvalue {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: -1rem;
  }

  .custom-upper-cardvalue1 {
    margin: -1.125rem 1.25rem 0.625rem 1.25rem;
    display: flex;
    flex-direction: column;
  }

  .custom-bottom-para-total {
    display: flex;
    flex-direction: column;
  }

  .bottom-para-total {
    margin: 0.125rem 1.25rem;
  }

  .cardtype-img {
    width: 15%;
    height: 2%;
    margin-bottom: 0.1875rem;
    margin-right: 0.625rem;
  }

  .visacardtype-img {
    width: 15%;
    height: 1% !important;
    margin-right: 0.625rem;
  }
}
