/* / ************** Full Screen ************ / */

@media (min-width: 1024px) {
  .contactus-container {
    height: 38vh;
    width: 100%;
    background-color: #fdc886;
  }

  .contactus-heading {
    padding: 1.875rem;
  }

  .bottom-contact-container {
    background-color: #f5f2ea;
    height: 100vh;
    width: 100%;
    padding: 0 5rem;
  }

  .form-container {
    width: 55%;
    /* background-color: #f4f1e9; */
    border-radius: 1.25rem;
    padding: 1.1rem;
    top: 70%;

    left: 20%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    position: absolute;
  }

  .form-title h2 {
    margin-left: 3rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f5f2ea;
  }

  .form-title {
    text-align: center;
  }

  .contact-submit-btn {
    background-color: #fdc886;
    color: #1b1b1b;
    width: 70%;
    margin-left: 4.5rem;
    text-align: center;
    border-radius: 1.25rem;
    position: relative;
  }

  .images-sideform {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* width: 20%; */
    margin: auto;
    padding-top: 2rem;
  }

  .images-sideform img {
    width: 3rem;
  }

  .phone-image {
    margin-right: 3rem;
    display: flex;
    align-items: center;
  }
  .email-image {
    display: flex;
    align-items: center;
  }
  .bold {
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }
  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper {
    border-color: #fdc886 !important;

    box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
  }

  .ant-form-item-has-error .ant-input:focus,
  .ant-form-item-has-error .ant-input-affix-wrapper:focus {
    border-color: #fdc886 !important;
    box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
  }

  .ant-input,
  .ant-input-affix-wrapper {
    border-color: #fdc886 !important;
  }
  .ant-form-item .ant-form-item-control-input-content {
    width: 120% !important;
  }
  .ant-input:focus,
  .ant-input-affix-wrapper:focus {
    border-color: #fdc886 !important;
    box-shadow: none !important;
  }

  .ant-btn-primary:hover {
    background-color: #e9d5b7 !important;
    color: #1b1b1b !important;
    border-color: #fdc886 !important;
  }

  .globe-img {
    position: absolute;
    bottom: 43%;
    left: 50%;
    overflow: hidden;
    height: 50%;
  }
}

/* / =====================Tablet Veiw=========================== / / */

@media (min-width: 641px) and (max-width: 1023px) {
  .contactus-container {
    height: 38vh;
    width: 100%;
    background-color: #fdc886;
  }

  .contactus-heading {
    padding: 1rem;
  }

  .bottom-contact-container {
    background-color: #f5f2ea;
    height: 62vh;
    width: 100%;
  }

  .form-container {
    width: 50%;
    /* background-color: #f4f1e9; */
    border-radius: 1.25rem;
    padding: 1.1rem;
    top: 48%;
    left: 10%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    position: absolute;
  }
  .form-title h2 {
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    background-color: #f5f2ea;
  }

  .form-title {
    background-color: rgb(14, 13, 13);
  }

  .contact-submit-btn {
    background-color: #fdc886;
    color: #1b1b1b;
    width: 70%;
    margin-left: 2.5rem;
    text-align: center;
    border-radius: 1.25rem;
    position: relative;
  }

  .images-sideform {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: auto;
    flex-direction: column;
    margin-left: 70%;
  }

  .images-sideform img {
    width: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .phone-image {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper {
    border-color: #fdc886 !important;
    box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
  }

  .ant-form-item-has-error .ant-input:focus,
  .ant-form-item-has-error .ant-input-affix-wrapper:focus {
    border-color: #fdc886 !important;
    box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
  }

  .ant-input,
  .ant-input-affix-wrapper {
    border-color: #fdc886 !important;
  }

  .ant-input:focus,
  .ant-input-affix-wrapper:focus {
    border-color: #fdc886 !important;
    box-shadow: none !important;
  }

  .ant-btn-primary:hover {
    background-color: #e9d5b7 !important;
    color: #1b1b1b !important;
    border-color: #fdc886 !important;
  }

  .globe-img {
    position: absolute;
    bottom: 65%;
    left: 30%;
    overflow: hidden;
    height: 30%;
  }
}

/************************** Mobile View  ************************/

@media (min-width: 10px) and (max-width: 640px) {
  .contactus-heading {
    padding: 1.875rem;
  }

  /* .contactus{
    border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
  } */

  .bottom-contact-container {
    background-color: #f5f2ea;
    min-height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .form-container {
    width: 90%;
    background-color: #f4f1e9;
    border-radius: 1.25rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 33%;
    left: 4%;
  }

  .form-title h2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: #f5f2ea;
  }

  .form-title {
    background-color: rgb(14, 13, 13);
  }

  .contact-submit-btn {
    background-color: #fdc886;
    color: #1b1b1b;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 1.25rem;
    position: relative;
    bottom: 0.625rem;
  }

  .images-sideform {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50rem 0 0 4rem;
    gap: 1rem;
  }

  .images-sideform img {
    width: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .phone-image {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper {
    border-color: #fdc886 !important;
    box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
  }

  .ant-form-item-has-error .ant-input:focus,
  .ant-form-item-has-error .ant-input-affix-wrapper:focus {
    border-color: #fdc886 !important;
    box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
  }

  .ant-input,
  .ant-input-affix-wrapper {
    border-color: #fdc886 !important;
  }

  .ant-input:focus,
  .ant-input-affix-wrapper:focus {
    border-color: #fdc886 !important;
    box-shadow: none !important;
  }

  .ant-btn-primary:hover {
    background-color: #e9d5b7 !important;
    color: #1b1b1b !important;
    border-color: #fdc886 !important;
  }

  .globe-img {
    position: absolute;
    overflow: hidden;
    bottom: 65%;
    left: 8%;
    height: 25%;
  }
}
