.listing-design {
  background-color: #fdc886;
  height: 70vh;
  width: 18%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 150px 80px;
}

.listing-design ul {
  list-style: none;
  text-align: left;
}

.listing-design ul li {
  padding: 12px 17px;
  text-align: left;
}

.listing-design ul li:hover {
  background-color: #1b1b1b;
  color: white;
}

.ant-divider-horizontal {
  margin: 10px !important;
}

.product-div {
  display: flex;
  margin: 0px 40px;
  align-items: baseline;
  justify-content: space-between;
}

.product-image {
  width: 60%;
  margin-top: 10px;
}

.searchbox-div {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .listing-design {
    width: 90%;
    margin: 50px auto;
  }

  .product-div {
    flex-direction: column;
    margin: 0px 20px;
  }

  .product-image {
    width: 100%;
    margin-top: 20px;
  }

  .searchbox-div {
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .listing-design {
    width: 100%;
    margin: 50px auto;
    padding: 10px;
  }

  .product-div {
    margin: 0px 10px;
  }
}
