.listing-design {
  background-color: #fdc886;
  height: 70vh;
  width: 18%;
  border-radius: 0.9375rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 9.375rem 5rem;
}

.listing-design ul {
  list-style: none;
  text-align: left;
}

.listing-design ul li {
  padding: 0.75rem 1.0625rem;
  text-align: left;
}

.listing-design ul li:hover {
  background-color: #1b1b1b;
  color: white;
}

.ant-divider-horizontal {
  margin: 0.625rem !important;
}

.product-div {
  display: flex;
  margin: 0rem 2.5rem;
  align-items: baseline;
  justify-content: space-between;
}

.product-image {
  width: 60%;
  margin-top: 0.625rem;
}

.searchbox-div {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .listing-design {
    width: 90%;
    margin: 9.875rem 0rem 0rem 0rem;
  }

  .product-div {
    flex-direction: column;
    margin: 0rem 1.25rem;
  }

  .product-image {
    width: 100%;
    margin-top: 1.25rem;
  }

  .searchbox-div {
    justify-content: center;
    margin-top: 1.25rem;
  }
}

@media (max-width: 576px) {
  .listing-design {
    width: 100%;
    margin: 9.875rem 0rem 0rem 0rem;
    padding: 0.625rem;
  }

  .product-div {
    margin: 0rem 0.625rem;
  }
}
