
/***************************Laptop View**********************/
@media (min-width: 1024px) {

.footer {
  color: #1b1b1b;
  background-color: #fdc886;
  display: flex;
  width: 100%;
  display: flex;
  height: 2.5rem;
  /* padding-top: 0.8rem; */
  font-size: 0.8rem;
  align-items: center;
}


.footer-mobile {
  display: none;
}

.prepaid-logo img {
  width: 50%;
}

.arrowhead {
  font-size: 2.5rem;
  color: white;
  position: relative;
  border: none;
  background: none;
}

.termscondition {
  margin-left: 4rem;
  text-decoration: underline;
  color: #1b1b1b;

}

.copyright {
  text-align: right;
  width: 40%;
  /* margin-top: 1rem; */
  /* margin-left: 10rem; */
}

.divider-bet {
  margin: 0.5rem;
}

.privacy {
  text-decoration: underline;
  color: #1b1b1b;
}
.social-handles{
  width: 35%;
  text-align: right;
  margin: 0 1rem;
}
.social-media{
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}
}



/* ****************** Mobile ********************** */


@media (max-width: 767px) {
  .footer-mobile {
    color: #1b1b1b;
    background-color: #f5f2ea;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .copyright {
    text-align: right;
    width: auto;
    margin: auto;
    padding-bottom: 0.6rem;
  }

  .termscondition {
    margin-left: 0%;
    width: 100%;
    text-decoration: underline;
    color: #1b1b1b;

  }
  .termandprivacy {
    display: flex;
    margin: auto;
    width: auto;
    font-size: 1rem;
    white-space: nowrap;
  }
  .privacy {
    margin-left: 0.5rem;
    color: #1b1b1b;
  }
  .divider-bet {
    display: none;
  }
  .footer {
    display: none;
  }
  .social-handles{
    width: 100%;
   text-align: center;
  }
  .social-media{
    font-size: 1rem;
    padding: 0.2rem;
  }
}


/* **************** Tablet SCreen **************** */

@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {

  .footer-mobile {
    color: #1b1b1b;
    background-color: #f5f2ea;
    width: 95%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .copyright {
    text-align: right;
    width: auto;
    margin: auto;
    padding-bottom: 0.6rem;
  }

  .termscondition {
    margin-left: 0%;
    width: 100%;
    text-decoration: underline;
    color: #1b1b1b;

  }
  .termandprivacy {
    display: flex;
    margin: auto;
    width: auto;
    font-size: 1rem;
    white-space: nowrap;
  }
  .privacy {
    margin-left: 0.5rem;
    color: #1b1b1b;
  }
  .divider-bet {
    display: none;
  }
  .footer {
    display: none;
  }
  .social-handles{
    width: 100%;
   text-align: center;
  }
  .social-media{
    font-size: 1rem;
    padding: 0.5rem;
  }

}