.footer {
  color: #1b1b1b;
  background-color: #F5F2EA;
  display: flex;
  width: 100%;
}

.prepaid-logo img{
  width:50%;
}
.arrowhead{
  font-size: 2.5rem;
  color: white;

  position: relative;
  border: none;
  background: none;
  
}
.termscondition{
  margin-left: 5%;
}
.divider-bet{
  margin: 0.625rem;
}
.privacy{
  margin-left: 1%;
}
@media (max-width: 768px) {
  .footer{
    width: 100%;
  }
}