.footer {
  color: #1b1b1b;
  background-color: #F5F2EA;
  display: flex;
  align-items: baseline;
  font-size: 12px;
  position: fixed;
  Width: 100%;
  bottom: 0;

}
.prepaid-logo{
  margin: 2px;
  padding: 10px;
}
.prepaid-logo img{
  width:50%;
}
.arrowhead{
  font-size: 40px;
  color: white;
  position: relative;
  bottom: 12px;
  margin: 10px;
  border: none;
  background: none;
  
}
.termscondition{
  margin-left: 5%;
}
.divider-bet{
  margin: 10px;
}
.privacy{
  margin-left: 1%;
}
@media (max-width: 768px) {
  .footer{
    width: 145vh;
  }
}