/* / ******************* Full Screen **************************** / */

.main-body {
  background-color: #f5f2ea;
  animation: gradient-animation 3s ease infinite;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.home {
  text-align: left;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home-heading {
  font-family: "Typold Extended Black";
  font-size: 2rem;
  font-weight: 500;
  color: #1b1b1b;
}

.home-heading-1 {
  font-family: "Typold Extended Black";
  font-size: 1.3rem;
  color: #1b1b1b;
}

.subtitle {
  color: #1b1b1b;
  font-size: 1rem;
}

.buttons {
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 0);
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}

.box {
  width: 100%;
  margin: 0 auto;
}

.sider {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-btn {
  width: 50%;
}

.buttons .buy {
  height: 3.75rem;
  text-align: center;
  border: none;
  width: 10rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.buttons .sell {
  height: 3.75rem;
  text-align: center;
  border: none;
  width: 10rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.sider-content {
  padding: 0.4375rem 1.125rem 1.125rem 1.125rem;
  background-color: #ffffff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.forms {
  display: flex;

  flex-direction: column;
}

.first-gray,
.First-gray {
  display: flex;
  width: 100%;
}

.first-gray-1,
.First-gray-1 {
  margin-top: 0.35rem;
}

.buttons {
  align-items: stretch;
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 0);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  height: 3.875rem;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.price-amount {
  border-radius: 0.25rem;
  padding: 0.31rem;
  margin-left: 5.6rem;
  margin-right: 1rem;
  border: solid 1px #29262624;
  font-size: 1rem;
  color: #1b1b1b;
  background-color: #f0f0f0;
}
.price-amount:focus {
  outline: none;
  border-color: #29262624;
}
.price-amount option {
  background-color: #f0f0f0;
  padding: 3rem;
}

.pay,
.Pay {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1rem;
}

.input-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.input-box {
  border: none !important;
  box-shadow: none !important;
  height: 1.5625rem !important;
  padding: 0 !important;
  border: none;
}

input {
  color: rgb(12, 12, 12);
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 136%;
  padding-left: 0.25rem;
  height: 2.25rem;
  background-color: transparent;
}

input[type="number"] {
  border: none;
  outline: none;
  font-size: 1.3125rem;
  caret-color: #004cff;
}

.input-div[type="number"]:focus {
  box-shadow: 0 0 5px 2px blue;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.second-gray-1 {
  background-color: #efefef;
  border: none;
  border-radius: 0.5rem;
  box-shadow: none !important;
  min-height: 2.75rem;
  padding: 0.625rem 0.6875rem;
}

.items {
  align-items: center;
  display: flex;
}

.usdt-pic img {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 1.125rem;
  margin-right: 0.3125rem;
}

.bit-pic img {
  height: 1.25rem;
  width: 1.25rem;
}

.both-gray,
.Both-gray {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f2ea;
  border-radius: 0.5rem;
  padding: 0.3125rem;
}

.dropdown-1 {
  font-size: 0.75rem;
  margin-right: 1rem;
  color: black;
}

.buy-usdt {
  color: #1b1b1b;

  background-color: #fdc886;
  border-radius: 3.125rem;
  width: 100%;
  display: flex;
  margin-top: 0.9375rem;
  font-weight: 600 !important;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  justify-content: center;
  padding: 0.4375rem;
  margin-bottom: 0.625rem;
  border: none;
}

.effect-text {
  color: #33cccc;
  margin-left: 0.4375rem;
}

.learn-more-btn button {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  fill: #ffffff;
  color: #fdc886;
  background-color: #1b1b1b;
  border-radius: 3.125rem;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: 0.3125rem;
  width: 8.125rem;
  height: 2.5rem;
  margin-top: 0.0625rem;
  margin-left: 0.3125rem;
}

.card-selector-container {
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 0 0.5rem;
  border-radius: 0.75rem;
}

.card-selector .ant-select-selector {
  font-size: 1rem;
  border-color: black !important;
  border: none;
  margin-bottom: 0.625rem;
}

.selection-cards-visamastercard {
  display: flex;
  gap: 1rem;
}

.selection-cards-visamastercard button {
  background-color: #f5f2ea;
  border: none;
  border-radius: 0.25rem;
  width: 50%;
  cursor: pointer;
}

.selection-cards-visamastercard button:hover {
  background-color: #fae6df;
}

.selection-cards-visamastercard button.selected {
  background-color: #1ed760;
  color: #fff;
}

.visa-card {
  width: 30%;
}
.master-card {
  width: 30%;
}
.mastercard-image {
  padding: 0.5rem 0;
}

.choose-card {
  margin: 0.625rem 0.125rem;
  text-align: justify;
  font-size: 0.875rem;
  font-family: "Outfit", sans-serif;
  color: black;
}

.dropdown-amount {
  border-radius: 0.25rem;
  /* width: 100%; */
  margin-left: 1rem;
  margin-right: 0rem;
  border: solid 1px #29262624;
  padding: 0.31rem;
  font-size: 1rem;
  color: #1b1b1b;
  background-color: #f0f0f0;
}

.dropdown-amount:focus {
  outline: none;
  border-color: #29262624;
}

.dropdown-amount option {
  background-color: #f0f0f0;
}
.second-gray {
  margin-right: 2.5rem;
}
/* / ***************   Mobile screen ********************** / */
@media (max-width: 767px) {
  .main-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .home {
    width: 100%;
  }

  .home-heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .home-heading-1 {
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
  }

  .subtitle {
    display: none;
  }

  .learn-more-btn button {
    display: none;
  }

  .box {
    width: 80%;
  }

  .both-gray {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    font-size: 1rem;
  }

  .first-gray {
    padding: 1rem 0;
  }

  .second-gray {
    padding: 0.8rem 0;
    margin-right: 2rem;
  }

  .dropdown-amount {
    margin-top: 0.5rem;
  }
  .sider {
    width: 100%;
  }

  .buttons .buy,
  .buttons .sell {
    font-size: 1rem;
    width: 10rem;
  }

  .button,
  .mastercard-button {
    font-size: 0.75rem;
  }

  .dropdown-1 {
    margin-left: 3rem;
  }

  .First-gray {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    background-color: #f5f2ea;
    border-radius: 0.5rem;
  }

  .Pay {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
}

/* / ****************** Tablet screen ********************* / */

@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {
  .main-body {
    display: flex;
    flex-direction: column;
    height: 110vh;
  }

  .home {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .home-heading {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  .home-heading-1 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .learn-more-btn button {
    display: block;
    margin: auto;
    font-size: 1.2rem;
    width: 10.125rem;
    height: 3.5rem;
    margin-top: 2rem;
  }

  .sider {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem 0;
  }

  .box {
    justify-content: center;
  }

  .buttons .buy,
  .buttons .sell {
    font-size: 1rem;
    text-align: center;
  }

  .sider-content {
    padding: 1rem;
  }

  .first-btn {
    width: 50%;
  }

  .button,
  .mastercard-button {
    font-size: 0.75rem;
  }

  .first-four-navigation {
    width: 85% !important;
  }
}
