/* / / =====================Desktop Veiw=========================== / / */

@media (min-width: 1024px) {
  
    .outer-timeline{
    width: 100%;
    display: flex;
    padding: 10rem 0;
    align-items: center;
    justify-content: center;
    }

    .timeline img{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }
}



/* / / ******************* Tablet Screen ****************** / / */

@media (min-width: 641px) and (max-width: 1023px) {

}

/* / / ********************** Mobile Screen ******************* / / */

@media (min-width: 10px) and (max-width: 640px) {

}