.wrapper {
  height: 100vh;
  background-color: #f5f2ea;
}
.login-heading {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.login-logo {
  position: absolute;
  margin-bottom: 27rem;
}
.login {
  width: 21.25rem;
  padding: 1.25rem;
  border: none;
  height: min-content;
  border-radius: 0.8125rem !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  background-color: white;
}
.form-control {
  border: 1px solid #fdc886;
  border-radius: 0.8125rem !important;
}
.btn {
  background-color: #fdc886;
  color: #1b1b1b;
  border: none;
}
.btn:hover {
  background-color: #f3d8b7;
  color: #1b1b1b;
}
/* .btn::selection{
    background-color: #fdc886;
    color: #1b1b1b; 
} */
.btn:active {
  background-color: #f3d8b7;
  color: #1b1b1b;
}
.forget-register{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.input-group-text-password-toggle{
  font-size: 1rem;
  margin-left: 0.2rem !important;
}