.wrapper {
  height: 100vh;
  background-color: #f5f2ea;
  font-family: "Outfit", sans-serif;
}
.input-group .btn {
  font-size: 0.8rem;
  margin: 0 0.3rem;
}
.login-heading {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form .form-control:valid {
  border-color: #fdc886;
}
.login-logo {
  position: absolute;
  margin-bottom: 27rem;
}
.login {
  width: 21.25rem;
  padding: 1.25rem;
  border: none;
  height: min-content;
  border-radius: 0.8125rem !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
  background-color: white;
}
.form-control {
  border: 1px solid #fdc886;
  border-radius: 0.8125rem !important;
  position: relative;
}
.btn {
  background-color: #fdc886;
  color: #1b1b1b;
  border: none;
}
.btn:hover {
  background-color: #f3d8b7;
  color: #1b1b1b;
}
/* .btn::selection{
    background-color: #fdc886;
    color: #1b1b1b; 
} */
.btn:active {
  background-color: #f3d8b7;
  color: #1b1b1b;
}
.forget-register {
  font-size: 0.86rem;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.input-group-text-password-toggle {
  font-size: 1rem;
  margin-left: 0.2rem !important;
}
.register-now{
  margin-top: 0.8rem;
  font-size: 0.86rem;
  text-align: center;
}
.register-link{
  font-weight: 600;
  cursor: pointer;
  margin-left: 0.1rem;
}
.toggle-pswrd{
  position: absolute;
  right: 1rem;
  z-index: 9999;
  top:0.1rem;
}
.form-check-input:checked{
  background-color: #fdc886;
  border-color:#fdc886;
  color: #1b1b1b;
}
.form-check .form-check-input {
  height: 1rem;
  width: 1rem;
  float: left;
  margin-left: -1.2rem;
  margin-top: 0.12em;
}