* {
  font-family: 'Outfit', sans-serif;
}
.header-two {
  display: flex;
  flex-direction: column;
}
.logo{
  width: 40%;
}
.logo img {
  width: 12.5rem;
  bottom: 0.5rem;
  position: relative;
  margin-left: 2.5625rem;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.125rem;
}
.user .anticon {
  margin-right: 0.625rem;
}
.header {
  height: 2.5rem;
  padding: 1.875rem 1rem 2.1875rem 1rem;
  background-color: #F5F2EA;
  position: -webkit-sticky;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
}
.header .right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(250, 253, 255);
  margin-left: 0.625rem;
}
.header .right img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.header .left {
  width: 55%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;
  color: black;
}
.first-four-navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  font-family: 'Outfit', sans-serif;
}
.first-four-navigation > a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
}
.first-four-navigation > a:hover{
color: #1b1b1b;
text-decoration:overline;
}
.navlogin {
  margin-left: inherit;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.9375rem;
}
.navlogin-cart{
  padding: 0.1875rem 0.625rem;
  color: white;
  border-radius: 0.9375rem;
}
.navlogin > a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
}
.navlogin:hover{
  background-color: #fdc886;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.9375rem;
}
.navlogin > a:hover{
  color:#1b1b1b;
}
.header .left .hamburg {
  display: none;
  position: relative;
  cursor: pointer;
}
/* .header .left .hamburg .navmenu {
  position: absolute;
  background-color: #d9dcdf;
  display: flex;
  flex-direction: column;

  padding: 0rem 1.875rem;
}
.header .left .hamburg .navmenu > a {
  margin: 0.625rem 0rem;
  color: rgb(19, 18, 18);
  text-decoration: none;
  border-bottom: #333;
} */
/* Add the following styles to your existing CSS */

.header .left .hamburg .navmenu {
  position: absolute;
  background-color: #d9dcdf;
  display: flex;
  flex-direction: column;
  padding: 0rem 1.875rem;
  width: 100%; /* Set the width to 100% */
}

.header .left .hamburg .navmenu > a {
  margin: 0.625rem 0rem;
  color: rgb(19, 18, 18);
  text-decoration: none;
  border-bottom: #333;
  width: 100%; /* Set the width to 100% */
}

.usernav{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin: 2px; */
}
.header .left .hamburg .navmenu > a:hover {
  /* text-decoration: underline; */
  color: rgb(73, 73, 218);
}
.cart-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cart-details {
  position: absolute;
  right: 4.375rem;
  top: 0rem;
  transform: translate3d(3.0625rem, 3.875rem, 0rem);
  min-width: max-content;
  z-index: 100;
}
.cart-inner {
  background-color: white;
  width: 21.3125rem;
  border-radius: 0.75rem;
  box-shadow: 0 3px 6px rgb(0 0 0/15%), 0 2px 4px rgb(0 0 0/12%);
  color: black;
  overflow: hidden;
  opacity: 1;
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-details button {
  margin-bottom: 0.625rem;
}

.cart-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-details li {
  margin-bottom: 0.625rem;
  color: black;
}

.cart-header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  text-decoration: none;
  gap: 0.75rem;
  color: black;
}
.checkout {
  padding: 0.625rem;
  text-align: center;
  background-color: red;
  margin: 1.875rem;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0 3px 6px rgb(0 0 0/15%), 0 2px 4px rgb(0 0 0/12%);
}
.checkout a {
  text-decoration: none;
  color: #f2f2f2;
}
.cart {
  display: none; /* Initially hide the cart */
  /* Add your desired styles for the cart */
}

.cart.open {
  display: block; /* Show the cart when it's open */
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: #fff;
  padding: 0.625rem;
  text-decoration: none;
}
.carticon {
  font-size: 1.25rem;
  color: #0c0c0c;
  bottom: 0.1875rem;
}
.anticon svg {
  color: #0c0c0c;
}
.ant-badge .ant-badge-count {
  background: #FDC886;
  margin-top: 0.625rem;
}
.headerlogo {
  background-color: #F5F2EA;
  padding-top: 0.5rem;
  height: 1.6875rem;
}
.logocheckout{
  background-color: #F5F2EA;
  height: 2.9375rem;
}

.logocheckout img {
  width: 11.25rem;
  margin-left: 1.0625rem;
  margin-top: 0.125rem;

}
.back-arrow {
  font-size: 1.25rem;
  margin-left: 2.1875rem;
  cursor: pointer;
}
.cart-modal {
  max-width: 12rem;
}

.cart-modal .ant-modal-content {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 149%;
}
.delete{
  margin-left: 0.125rem;
}

.cart-modal .ant-modal-body {
  flex-grow: 1;
  padding: 1rem;
}

.cart-modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.usermobile{
  display: none;
}

@media (max-width: 767px) {
  .header .left > .first-four-navigation, .navlogin {
    display: none;
  }
  .header .left .hamburg {
    display: block;
    position: relative;
    right: 16.25rem;
  }
  .header .left {
 
    bottom: 1rem;
    align-items: baseline;
    position: relative;
  }
  .usermobile{
    display: block;
    bottom: 0.2rem;
    position: relative;
  }

  .usermobile a{
    color: #1b1b1b;
    text-decoration: none;
  }
  .logo img {
    width: 120%;
    position: relative;
    left: 2.6875rem;
    bottom: 0.8125rem;
  }
  .logo{
    display: block;
    margin: auto;
  }
  .header {
    height: 1.75rem;
  }
  .header .left .hamburg > img {
    height: 2.1875rem;
    width: 2.5rem;
  }
  .user-logo-mobile{
    width: 1.0625rem;
  }
}
