* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ***************** Full Screen ************** */


.header-two {
  display: flex;
  flex-direction: column;
}
.logo{
  width: 40%;
}
.logo img {
  width: 12.5rem;
  bottom: 0.5rem;
  position: relative;
  margin-left: 2.5625rem;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.125rem;
}
.user .anticon {
  margin-right: 0.625rem;
}
.header {
  height: 2.5rem;
  padding: 1.875rem 1rem 2.1875rem 1rem;
  background-color: #F5F2EA;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
}
.header .right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(250, 253, 255);
  margin-left: 0.625rem;
}
.header .right img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.header .left {
  width: 55%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;
  color: black;
}
.first-four-navigation {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
  font-family: 'Outfit', sans-serif;
}
.first-four-navigation > a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
}
.first-four-navigation > a:hover{
color: #1b1b1b;
text-decoration:overline;
}
.navlogin {
  margin-left: inherit;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.9375rem;
}
.navlogin-cart{
  padding: 0.1875rem 0.625rem;
  color: white;
  border-radius: 0.9375rem;
}
.navlogin > a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
}
.navlogin:hover{
  background-color: #fdc886;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.9375rem;
}
.navlogin > a:hover{
  color:#1b1b1b;
}
.header .left .hamburg {
  display: none;
  position: relative;
  cursor: pointer;
}

.header .left .hamburg .navmenu {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 10rem;
  margin-top: 1rem;
  margin-right: 10rem;
  width: 100%;
  gap: 2rem;

}

.header .left .hamburg .navmenu > a {
  color: rgb(19, 18, 18);
  text-decoration: none;
  width: 15rem; 
  font-size: 0.8rem;
}

.usernav{
  display: flex;
  align-items: center;
}

.header .left .hamburg .navmenu > a:hover {
  color: rgb(73, 73, 218);
}


/* ****************** Mobile *************************** */
@media (max-width: 767px) {
  
  .header .left > .first-four-navigation, .navlogin {
    display: none;
  }

  .header .left .hamburg {
    display: block;
    position: fixed;
    right: 20rem;
  }

  
  .header .left {
 
    bottom: 1rem;
    align-items: baseline;
    position: relative;
  }
  .usermobile{
    display: block;
    bottom: 0.2rem;
    position: relative;

  }

  .usermobile a{
    color: #1b1b1b;
    text-decoration: none;
  }
  .logo img {
    width: 120%;
    position: relative;
    left: 2.6875rem;
    bottom: 0.8125rem;
  }
  .logo{
    display: block;
    margin: auto;
  }
  .header {
    height: 1.75rem;
  }
  .header .left .hamburg > img {
    height: 2.1875rem;
    width: 2.5rem;
  }
  .user-logo-mobile{
    width: 1.0625rem;
  }
}
