* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ********************* Full Screen ****************** */
@media (min-width: 1024px) {
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .carticon {
    font-size: 1.8rem;
    color: #0c0c0c;
    bottom: 0.1875rem;
  }

  .anticon svg {
    color: #0c0c0c;
  }

  .ant-badge .ant-badge-count {
    background: #fdc886;
    margin-top: 0.625rem;
  }

  .headerlogo {
    background-color: #f5f2ea;
    padding-top: 0.5rem;
    height: 1.6875rem;
    display: flex;
  }
  .logopayment {
    width: 11.25rem;
    margin-left: 1rem;
  }

  .logocheckout {
    background-color: #f5f2ea;
    height: 2.9375rem;
  }

  .logocheckout img {
    width: 11.25rem;
    margin-left: 1.0625rem;
    margin-top: 0.125rem;
  }

  .back-arrow {
    font-size: 1.25rem;
    margin-left: 2.1875rem;
    cursor: pointer;
    border: 1px;
  }

  .cart-modal {
    top: 13%;
    left: 40%;
  }
  .cart-modal .ant-modal-content {
    width: 60%;
    padding: 30px 24px;
  }
  .scrollable-cart {
    max-height: 20rem;
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .visadiv {
    display: flex;
  }

  .delete {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 1rem;
  }
  .ant-modal .ant-modal-close {
    text-align: right;
    padding: 0rem;
    position: absolute;
    top: 7px;
    inset-inline-end: 12px;
    z-index: 1010;
    padding: -11px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }

  .cart-modal-footer {
    display: flex;
    gap: 1rem;
  }
}

/* **************************** Tablet ************************ */

@media (min-width: 641px) and (max-width: 1023px) {
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .carticon {
    font-size: 1.5rem;
    color: #0c0c0c;
    bottom: 0.1875rem;
  }

  .anticon svg {
    color: #0c0c0c;
  }

  .ant-badge .ant-badge-count {
    background: #fdc886;
    margin-top: 0.625rem;
  }

  .headerlogo {
    background-color: #f5f2ea;
    padding-top: 0.5rem;
    height: 1.6875rem;
    display: flex;
  }

  .logopayment {
    width: 11.25rem;
    margin-left: 1rem;
  }

  .logocheckout {
    background-color: #f5f2ea;
    height: 2.9375rem;
  }

  .logocheckout img {
    width: 11.25rem;
    margin-left: 1.0625rem;
    margin-top: 0.125rem;
  }

  .back-arrow {
    font-size: 1.25rem;
    margin-left: 2.1875rem;
    cursor: pointer;
    border: 1px;
  }

  .cart-modal {
    top: 11%;
    left: 20%;
    border-radius: 1.5rem;
  }

  .visadiv {
    display: flex;
  }

  .visadiv p {
    font-size: 1.5rem;
  }

  .delete {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1rem;
    padding-right: 1rem;
  }

  .delete p {
    font-size: 1.5rem;
  }

  .cart-modal-footer {
    display: flex;
    gap: 1rem;
  }
  .scrollable-cart {
    max-height: 30rem; /* Adjust the value to your preference */
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .ant-modal .ant-modal-close {
    text-align: right;
    padding: 0rem;
    position: absolute;
    top: 0.5rem;
    inset-inline-end: 14px;
    z-index: 1010;
    padding: -11px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }
  .cart-modal .ant-modal-content {
    width: 80%;
    margin: 0 1rem;
    padding: 36px 24px;
  }
}

/* ********************** Mobile **************************** */
@media (min-width: 10px) and (max-width: 640px) {
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .carticon {
    font-size: 1.8rem;
    color: #0c0c0c;
    bottom: 0.1875rem;
  }

  .anticon svg {
    color: #0c0c0c;
    margin-left: 1rem;
  }

  .ant-badge .ant-badge-count {
    background: #fdc886;
    margin-top: 0.625rem;
  }

  .headerlogo {
    background-color: #f5f2ea;
    padding-top: 0.5rem;
    height: 1.6875rem;
    display: flex;
  }

  .logo {
    margin-left: 1rem;
  }

  .logopayment {
    width: 11.25rem;
    margin-left: 1rem;
  }

  .logocheckout {
    background-color: #f5f2ea;
    height: 2.9375rem;
  }

  .logocheckout img {
    width: 11.25rem;
    margin-left: 1.0625rem;
    margin-top: 0.125rem;
  }

  .cart-modal {
    top: 9%;
    left: 3%;
    border-radius: 1.5rem;
  }

  .visadiv {
    display: flex;
  }

  .big {
    font-size: 1rem;
  }

  .delete {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 1rem;
  }

  .cart-modal-footer {
    display: flex;
    gap: 1rem;
  }
  .scrollable-cart {
    max-height: 20rem; /* Adjust the value to your preference */
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  .ant-modal .ant-modal-close {
    text-align: right;
    padding: 0rem;
    position: absolute;
    top: 0.5rem;
    inset-inline-end: 24px;
    z-index: 1010;
    padding: -11px;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }
  .cart-modal .ant-modal-content {
    margin: 0 1rem;
    padding: 36px 24px;
  }
}
