* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


/***************************Laptop View**********************/
@media (min-width: 1024px) {

  .navbarrrr {
  left: 0;
  height: 10vh;
  display: flex;
  font-family: Outfit,sans-serif;
  font-size: .85rem;
  position: relative;
  top: 0;
  z-index: 1;
  padding: 0 4rem 0 4rem;
  box-shadow: 0 1px 4px hsla(210,8%,62%,.2);
}

ul {
  list-style: none;
}

.navbarrrr a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navbarrrr a:hover{
  padding: 0.5rem;
  border-radius: 2.2rem;
  color: #ffffff;
  background-color: #fdc886;
}

.navbarrrr a:active{
  padding: 0.5rem;
  border-radius: 2.2rem;
  color: #ffffff;
  background-color: #b8b8b8;
}

.navbarrrr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f2ea;
  z-index: -1;
}


.logo {
  display: flex;
  align-items: center;
}

.menu {
  width: 70%;
  display: flex;
  padding-top: 1.2rem;
  justify-content: flex-end;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  color: black;
}

.menu ul div{
  display: flex;
  gap: 2rem;
}

.hamburger {
  display: none;
}

.nav-cart1{
  display: none;
}

.nav-cart{
  display: block;
}

.headerlogo img{
  padding-top: 1rem;
 }

 .back-arrow {
   padding-top: 1.3rem;
   padding-left: 2rem;
  }

  .user{
    display: block;
  }

  .user2{
    display: none;
  }

}

/* / / / ****************** Mobile View *************************** / / / */

@media (max-width: 767px) {


  .menu {
      display: none;
  }

  .hamburger {
      display: block;
      font-size: 1.5rem;
      color: white;
      background: none;
      border: none;
      cursor: pointer;
    }
    
    body.menu-open {
      overflow-y: hidden;
    }

    .navbarrrr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #f5f2ea;
      height: 10vh;
      padding: 0 2rem;
  }

  .mobile-menu ul {
      position: fixed;
      top: 12vh;
      left: 0;
      width: 100%;
      align-items: center;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      font-size: 1rem;
      font-weight: 400;
      background-color: white;
      z-index: 9998;
      overflow-y: auto;
      list-style: none;
    }

    .nav-cart{
      display: none;
    }

    .nav-cart1{
      display: block;
    }

    .mobile-menu ul > div{
       display: flex;
       flex-direction: column;
       gap: 2rem;
       padding: 1.5rem 0 0 0;
    }
   
    .user{
      display: none;
    }

    .navbarrrr a{
      text-decoration: none;
    }

  
    .mobile-menu {
      display: none;
      width: 98%;
      background-color: transparent;
      display: grid;
      grid-column: 3/5;
      align-items: center;
      transition: all 3s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px;
      overflow-y: auto;
      z-index: 9997;
    }

  .mobile-menu ul li:first-child {
      transition-delay: 3s;
  }


  .hamburger:focus+.mobile-menu,
  .hamburger:checked+.mobile-menu {
      display: grid;
  }


  .mobile-menu ul li {
      transition: opacity 1s ease;
      color: black;
  }


  .mobile-menu ul li a {
      color: black;
  }

  .headerlogo img{
   padding-top: 1rem;
  }

  .back-arrow {
    padding-top: 1.3rem;
    padding-left: 1.5rem;
   }

   .user{
    display: none;
  }

  .user2{
    display: block;
  }
  

  
}

/* ******************** Tablet screen ********************* */

@media screen and (min-device-width: 767px) and (max-device-width: 1024px) {

  .navbarrrr {
    left: 0;
    height: 10vh;
    display: flex;
    font-family: Outfit,sans-serif;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0 2rem 0 2rem;
    box-shadow: 0 1px 4px hsla(210,8%,62%,.2);
  }
  
  ul {
    list-style: none;
  }
  
  
  .navbarrrr a {
    color: black;
    text-decoration: none;
  }

  .navbarrrr a:hover{
    font-weight: bold;
  }
  
  .navbarrrr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f2ea;
    z-index: -1;
  }
  
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .menu {
    width: 70%;
    display: flex;
    padding-top: 1.2rem;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu ul {
    display: flex;
    align-items: center;
    color: black;
  }
 
  .menu ul div{
    display: flex;
    gap: 1rem;
  }
  
  .hamburger {
    display: none;
  }
  
  .nav-cart1{
    display: none;
  }
  
  .nav-cart{
    display: block;
  }
  
  .headerlogo img{
    padding-top: 1.5rem;
   }
 
   .back-arrow {
     padding-top: 1.7rem;
     padding-left: 1.8rem;
    }

    .user2{
      display: none;
    }
  
    .user{
      display: block;
    }
    
    

}
























/* .header-two {
  display: flex;
  flex-direction: column;
}
.logo{
  width: 40%;
}
.logo img {
  width: 12.5rem;
  bottom: 0.5rem;
  position: relative;
  margin-left: 2.5625rem;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.125rem;
}
.user .anticon {
  margin-right: 0.625rem;
}
.header {
  height: 2.5rem;
  padding: 1.875rem 1rem 2.1875rem 1rem;
  background-color: #F5F2EA;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.125rem solid rgb(0 0 0 / 3%);
}
.header .right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(250, 253, 255);
  margin-left: 0.625rem;
}
.header .right img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.header .left {
  width: 55%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;
  color: black;
}
.first-four-navigation {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85rem;
  font-family: 'Outfit', sans-serif;
}
.first-four-navigation > a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
}
.first-four-navigation > a:hover{
color: #1b1b1b;
text-decoration:overline;
}
.navlogin {
  margin-left: inherit;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.9375rem;
}
.navlogin-cart{
  padding: 0.1875rem 0.625rem;
  color: white;
  border-radius: 0.9375rem;
}
.navlogin > a {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: 600;
}
.navlogin:hover{
  background-color: #fdc886;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.9375rem;
}
.navlogin > a:hover{
  color:#1b1b1b;
}
.header .left .hamburg {
  display: none;
  position: relative;
  cursor: pointer;
}

.header .left .hamburg .navmenu {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 10rem;
  margin-top: 1rem;
  margin-right: 10rem;
  width: 100%;
  gap: 2rem;

}

.header .left .hamburg .navmenu > a {
  color: rgb(19, 18, 18);
  text-decoration: none;
  width: 15rem; 
  font-size: 0.8rem;
}

.usernav{
  display: flex;
  align-items: center;
}

.header .left .hamburg .navmenu > a:hover {
  color: rgb(73, 73, 218);
}



@media (max-width: 767px) {
  
  .header .left > .first-four-navigation, .navlogin {
    display: none;
  }

  .header .left .hamburg {
    display: block;
    position: fixed;
    right: 20rem;
  }

  
  .header .left {
 
    bottom: 1rem;
    align-items: baseline;
    position: relative;
  }
  .usermobile{
    display: block;
    bottom: 0.2rem;
    position: relative;

  }

  .usermobile a{
    color: #1b1b1b;
    text-decoration: none;
  }
  .logo img {
    width: 120%;
    position: relative;
    left: 2.6875rem;
    bottom: 0.8125rem;
  }
  .logo{
    display: block;
    margin: auto;
  }
  .header {
    height: 1.75rem;
  }
  .header .left .hamburg > img {
    height: 2.1875rem;
    width: 2.5rem;
  }
  .user-logo-mobile{
    width: 1.0625rem;
  }
} */
