/* / / =====================Desktop Veiw=========================== / / */

@media (min-width: 1024px) {
    .password-page{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(245,242,234);
    }

    .pass-outer{
        width: 25%;
    }

    .pass1{
    background-color: rgb(253,200,134);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    }

    .pass1 h1{
        color: black;
        font-weight: 500;
        font-size: 2rem;
    }

    .pass2{
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 1rem;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    }

    .pass2 h3{
    font-size: 1rem;
    }

    .pass2 input{
        background-color: #F5F2EA;
        border: 2px solid rgb(253,200,134);
        border-radius: 0.6rem;
        padding: 1rem 0;
    }

    .pass-button{
     margin: auto;
       padding: 0.8rem 1.5rem;
       border-radius: 1.5rem;
        background-color: #FDC886;
        color: black;
       margin-top: 1rem;
    }


}


/* / / ******************* Tablet Screen ****************** / / */

@media (min-width: 641px) and (max-width: 1023px) {

    .password-page{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(245,242,234);
    }

    .pass-outer{
        width: 45%;
    }

    .pass1{
    background-color: rgb(253,200,134);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    }

    .pass1 h1{
        color: black;
        font-weight: 500;
        font-size: 2rem;
    }

    .pass2{
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 1rem;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    }

    .pass2 h3{
    font-size: 1rem;
    }

    .pass2 input{
        background-color: #F5F2EA;
        border: 2px solid rgb(253,200,134);
        border-radius: 0.6rem;
        padding: 1rem 0;
    }

    .pass-button{
     margin: auto;
       padding: 0.8rem 1.5rem;
       border-radius: 1.5rem;
        background-color: #FDC886;
        color: black;
       margin-top: 1rem;
    }

  

}

/* / / ********************** Mobile Screen ******************* / / */

@media (min-width: 10px) and (max-width: 640px) {

    .password-page{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(245,242,234);
    }

    .pass-outer{
        width: 85%;
    }

    .pass1{
    background-color: rgb(253,200,134);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    }

    .pass1 h1{
        color: black;
        font-weight: 500;
        font-size: 2rem;
    }

    .pass2{
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 1rem;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    }

    .pass2 h3{
    font-size: 1rem;
    }

    .pass2 input{
        background-color: #F5F2EA;
        border: 2px solid rgb(253,200,134);
        border-radius: 0.6rem;
        padding: 1rem 0;
    }

    .pass-button{
     margin: auto;
       padding: 0.8rem 1.5rem;
       border-radius: 1.5rem;
        background-color: #FDC886;
        color: black;
       margin-top: 1rem;
    }


}