/* / / =====================Desktop Veiw=========================== / / */

@media (min-width: 1024px) {
  .checkout-main1 {
    background-color: #f5f2ea;
    min-height: 100vh;
    display: flex;
    padding: 4rem 0;
    justify-content: center;
  }

 .value2{

  display: flex;
  width: 70%;
 padding-right: 2rem;

 }

 .value2>div{
  display: flex;
  width: 100%;
 }

 .final-pay{
  margin-top: 2rem;
 }

 .nayasa{
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
 
 }

.final-payment{
  width: 30%;

}

.visacardtype-img1, .cardtype-img1{
  width: 25%;
  height: 75%;
}

  .twocards1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
     padding: 2rem 5rem 0 5rem;
    justify-content: space-between;
  }

  .payment-card1 {
    width: 37%;
  }

  .custom-upper-para-pay{
  display: flex;
  padding-top: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }


  .payment-card2 {
    width: 60%;
   
  }

  .ant-card-head-title {
    font-size: 1.4rem;
    color: black;
    margin-top: 0.3rem;
  }
  .custom-divider{
    width: 100%;
  }

  .email-div {
    display: flex;
    justify-content: space-between;
  }

  .change {
    color: black;
    text-decoration: underline;
    border: none;
  }

  .change:hover {
    color: black;
  }

  .scanner-pic {
    display: flex;
  }
  .scanner-pic img {
    margin: 0 auto;
    width: 40%;
  }

  .pay-h {
    font-weight: 600;
  }

  .pay-h1 {
    color: #99a29e;
    font-size: 1.25rem;
  }

  .pay-h2,
  .pay-h3,
  .pay-h4,
  .pay-h5 {
    font-size: 1rem;
  }

  .pay-h6 {
    font-weight: 600;
    font-size: 1rem;
  }

  .pay-adv {
    text-decoration: underline;
    color: black;
    margin: auto;
    font-size: 1rem;
  }
  .pay-adv:hover {
    color: black;
  }
  .adv {
    display: flex;
  }
  .subtotal {
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: -0.7rem;
  }
  .custom-bottom-para-pay-para{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: -1.7rem 0rem;
    padding-bottom: 1rem;
  }

  .BTC-payment {
    font-size: 1.2rem;
  } 
}
.order-detail-para{
  margin-bottom: 0rem;
  font-weight: 600;
}


/* / / *************** Tablet Design ******************** / / */

@media (min-width: 641px) and (max-width: 1023px) {
  .checkout-main1 {
    background-color: #f5f2ea;
    min-height:100vh;
    display: flex;
    padding: 4rem 0;
    justify-content: center;
  }

  .twocards1 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .value2{

    display: flex;
    width: 70%;
   padding-right: 2rem;
  
   }
  
   .value2>div{
    display: flex;
    width: 100%;
   }
  
   .final-pay{
    margin-top: 2rem;
   }
  
   .nayasa{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
   
   }

   .custom-upper-para-pay{
    display: flex;
    padding-top: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
  
  .final-payment{
    width: 30%;
  
  }
  
  .visacardtype-img1, .cardtype-img1{
    width: 22%;
    height: 70%;
  }

  .payment-card1 {
    width: 85%;
  }

  .payment-card2 {
    width: 100%;
  }

  .ant-card-head-title {
    font-size: 1.5rem;
    color: black;
  }
  .custom-card .ant-card .ant-card-head {
    border-bottom: 0px solid white !important;
  }

  .email-div {
    display: flex;
    justify-content: space-between;
  }

  .change {
    color: black;
    text-decoration: underline;
    border: none;
  }

  .change:hover {
    color: black;
  }

  .scanner-pic {
    display: flex;
  }
  .scanner-pic img {
    margin: 0 auto;
    width: 40%;
  }

  .pay-h {
    font-weight: 600;
  }

  .pay-h1 {
    color: #99a29e;
    font-size: 1.25rem;
  }

  .pay-h2,
  .pay-h4,
  .pay-h5 {
    font-size: 1rem;
  }

  .pay-h3 {
    width: 90%;
    max-width: 90%;
    font-size: 0.6rem;
  }
  .pay-h6 {
    font-weight: 600;
    font-size: 1rem;
  }

  .pay-adv {
    text-decoration: underline;
    color: black;
    margin: auto;
    font-size: 1rem;
  }
  .pay-adv:hover {
    color: black;
  }
  .adv {
    display: flex;
  }

  .subtotal {
    font-size: 0.9375rem;
    font-weight: 600;

    margin: 2rem auto;
  }
  .custom-bottom-para-pay-para{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: -1.7rem 0rem;
    padding-bottom: 1rem;
  }
  .BTC-payment {
    font-size: 1.2rem;
  }

  .BTC-simplecard {
    font-size: 1.2rem;
    margin-left: 4rem;
    margin-top: 2.6rem;
  }

 
}

/* / / ********************* Mobile design **************** / / */

@media (min-width: 10px) and (max-width: 640px) {
  .checkout-main1 {
    background-color: #f5f2ea;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .twocards1 {
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .value2{

    display: flex;
    width: 70%;
    align-items: center;
   padding-right: 2rem;
  
   }
  
   .value2>div{
    display: flex;
    width: 100%;
   }
  
   .final-pay{
    margin-top: 2rem;
   }
  
   .nayasa{
    margin-left: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
   
   }

   .custom-upper-para-pay{
    display: flex;
    padding-top: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    }
  
  .final-payment{
    width: 30%;
  
  }
  
  .visacardtype-img1, .cardtype-img1{
    width: 45%;
    height: 100%;
  }

  .payment-card1 {
    width: 85%;
  }

  .ant-card-head-title {
    font-size: 1.5rem;
    color: black;
  }

  .email-div {
    display: flex;
    justify-content: space-between;
  }

  .change {
    color: black;
    text-decoration: underline;
    border: none;
  }

  .change:hover {
    color: black;
  }

  .scanner-pic {
    display: flex;
  }
  .scanner-pic img {
    margin: 0 auto;
    width: 40%;
  }

  .pay-h {
    font-weight: 600;
  }

  .pay-h1 {
    color: #99a29e;
    font-size: 1.25rem;
  }

  .pay-h2,
  .pay-h4,
  .pay-h5 {
    font-size: 1rem;
  }

  .pay-h6 {
    font-weight: 600;
    font-size: 1rem;
  }
  .pay-h3 {
    font-size: 0.7rem;
  }
  .pay-adv {
    text-decoration: underline;
    color: black;
    margin: auto;
    font-size: 1rem;
  }
  .pay-adv:hover {
    color: black;
  }
  .adv {
    display: flex;
  }

  

  .subtotal {
    margin-bottom: 0.5rem;
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 2rem;

  }
  .custom-bottom-para-pay-para{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: -1.7rem 0rem;
    padding-bottom: 1rem;
  }

  .BTC-payment {
    font-size: 1.2rem;
  }

  .BTC-simplecard {
    font-size: 0.84em;
  }

  .payment-card2 {
    width: 100%;
  } 
}
