.ticker-container {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: #1b1b1b;
  text-transform: uppercase;
  overflow-x: hidden; 
}

.ticker {
  display: flex;
  animation: ticker-animation 30s linear infinite;
}

.ticker-item {
  display: flex;
  align-items: center;
  margin-right: 50px;
  white-space: nowrap;
}

.crypto-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
