
.contactus-container {
  margin:60px 0px 0px 0px;
height:210px;
width: 100%;
 background-color: #FDC886;

}
.contactus-heading{
  padding: 30px;

}
.bottom-contact-container{
  background-color: #F5F2EA;
  height:68vh;
  width:100%;
}
.form-container {
  width: 38%;
  height: 70%;
  background-color: #F4F1E9;
  border-radius: 20px;
  padding: 24px;
 bottom: 0px;
 margin-left: 120px;
 margin-bottom: 15px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
}

.form-title h2{
  font-size: 16px;
  font-weight: bold;
  background-color: #F5F2EA;
}
.form-title{
  background-color: rgb(14, 13, 13);
}
.contact-submit-btn{
  background-color: #FDC886;
  color: #1b1b1b;
  width: 70%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  position: relative;
  bottom: 10px;
  margin-left: 48px;
}
.images-sideform{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  flex-direction: column;
  margin-left: 70%;

}
.images-sideform img{
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.phone-image{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.ant-form-item-has-error .ant-input,
.ant-form-item-has-error .ant-input-affix-wrapper {
  border-color: #FDC886 !important;
  box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
}

.ant-form-item-has-error .ant-input:focus,
.ant-form-item-has-error .ant-input-affix-wrapper:focus {
  border-color: #FDC886 !important;
  box-shadow: 0 0 0 2px rgba(253, 200, 134, 0.2) !important;
}
.ant-input,
.ant-input-affix-wrapper {
  border-color: #FDC886 !important;
}

.ant-input:focus,
.ant-input-affix-wrapper:focus {
  border-color: #FDC886 !important;
  box-shadow: none !important;
}
.ant-btn-primary:hover {
  background-color: #e9d5b7 !important;
  color: #1b1b1b !important;
  border-color: #FDC886 !important;
}