.ant-card-head-title {
    font-size: 30px;
    color: black;
}
.order-details{
    margin: 7px 20px;
   
}
.emailad{
    margin-top: -13px;
    margin-bottom: 93px;
}
.email-div{
    display: flex;
    justify-content: space-between;
}
.change{
    color: black;
    text-decoration: underline;
    margin-top: -11px;
    border: none;
}
.change:hover{
    color: black;
}
.payment-details{
    margin: -70px 20px;
}
.custom-divider{
    margin-top: -70px;
    margin-bottom: 50px;
}
.custom-divider2{
    margin-top: -10px;
}
.pay-para{
    margin-top: -23px;
}
.payment-card1 .ant-card-body{
    height: 325px;
}
.scanner-pic {
    display: flex;
}
.scanner-pic img{
    margin: auto;
    width: 300px;
}
.pay-h{
    margin-bottom:25px;
    font-weight: 600;
}
.pay-h1{
    color:#99A29E;
    font-size: 20px;
}
.pay-h2{
    margin-top: -16px;
    font-size: 15px; 
}
.pay-h3{
    font-size: 15px; 
    margin-top: -5px;
}
.pay-h4, .pay-h5{
    font-size: 15px; 
}
.pay-h5{
    margin-top: -8px;
}
.pay-h6{
    font-weight: 600;
    margin-top: 30px;
    font-size: 15px; 
}
.pay-adv {
    text-decoration: underline;
    color: black;
    margin: auto;
    font-size: 15px;
}
.pay-adv:hover{
    color: black;
}
.adv{
    display: flex;
    margin-top: 65px;
}