.about-main {
  margin: 60px 0px 0px 0px;
}
.wo-pic {
  height: 70px;
  width: 70px !important;
  margin: auto;
  text-align: center;
}
.about-header {
  text-align: center;
  margin: 20px 20px 50px 20px;
}
.work-card1 {
  width: 100%;
  height: 300px;
  text-align: center;
  border: none;
  margin-bottom: 30px;
}
.card-with-arrow {
  display: flex;
  width: 50%;
}
.arrow {
  font-size: 30px;
  margin: 20px;
  display: flex;
  align-items: center;
}
.working-cards {
  display: flex;
  align-items: center;
  margin: 0px 70px;
}
.ant-card-body{
  padding: 0px !important;
}