.explore-main-div {
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .explore-main-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/explore.svg");
    background-size: cover;
    opacity: 0.7; /* Adjust the value between 0 and 1 for desired opacity */
    z-index: -1;
  }
.explore-first-div{
    width: 50%;
    margin-left: 50px;
}
.explore-inner-div{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    position: relative;
}
.explore-second-div{
    width: 62%;
    padding: 110px 50px;
}

.explore-second-div button{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
    width: 24%;
    font-size: 14px;
    margin: 68px;
}
.explore-heading{
    font-size: 36px;
    font-weight: 600;
    padding: 10px 20px 10px 50px;
    color: #000000;
}
.explore-para{
    margin: 2px 2px 2px 50px;
}