.footer {
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prepaid-logo{
  margin: 2px;
  padding: 10px;
}
.prepaid-logo img{
  width:50%;
}
.arrowhead{
  font-size: 40px;
  color: white;
  position: relative;
  bottom: 12px;
  margin: 10px;
  border: none;
  background: none;
  
}