.main-body{
  display: flex;
}
.home{
  margin-top: 140px;
  padding: 50px 18px 50px 91px;
  text-align: left;
  height: 500px;
  box-sizing: border-box;
  width: 50%;
}

.home-heading{
  font-size: 56px;
  line-height: 74px;
  margin-bottom: 16px;
}
.subtitle{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.buttons{
  align-items: stretch;
  background: linear-gradient(180deg,#f7f7f7 50%,#fff 0);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  height: 70px;
  justify-content: space-between;
  overflow: hidden;
}
.sider{
  background: #FBFBFB;
  border: 1px solid #efefef;
  border-radius: 16px;
  box-shadow: 0 24px 64px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.08);
  margin: 50px;
  margin-top: 165px;
  height: 470px
}
.buttons .buy{
  height: 70px;
  /* background-color: white; */
  border: none;
  width: 253px;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  border-top-right-radius: 37px;
}
.buttons .sell{
  height: 70px;
  border: none;
  width: 243px;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  border-bottom-left-radius: 57px;
}
.sider-content{
  padding: 38px 31px 42px;
}
.forms{
 display: flex;
 flex-direction: column;

}
/* .first-gray{
  
    border: 1px solid #d8d8d8;
    border-radius: 12px;
 
    padding: 20px;
} */
.first-gray-1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1px;
}
.pay{
  color: black;
  display: block;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: left;
}
.input-div{
  align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-box{
  border: none!important;
  box-shadow: none!important;
  height: 25px!important;
  padding: 0!important;
  border: none;
}
input{
  color: rgb(12, 12, 12);
  font-size: 26px;
  font-weight: 700;
  line-height: 136%;
  padding-left: 4px;
  height: 36px;
  background-color: #FBFBFB;
}
input[type="number"] {
  border: none;
  outline: none;
  caret-color: #004CFF;
  -moz-appearance: textfield;
}
.input-div[type="number"]:focus{
  box-shadow: 0 0 5px 2px blue; 
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.second-gray{
  min-width: 36%;
  margin: 5px 0;
}
.second-gray-1{
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  box-shadow: none!important;
  min-height: 44px;
  padding: 10px 11px;
}
.second-btn-content{
  align-items: center;
  display: flex;
}
.items{
  align-items: center;
  display: flex;
}
.usdt-pic{
  height: 24px;
  width: 24px;
}
.usdt-pic img{
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width:25px;
}
.both-gray{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  padding: 20px;
}
.dropdown-1{
  font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
    color: black;
}
.btn{
  color: white;
  background-color: black;
  border-radius: 50px;
  width: 100%;
  display: flex;
  margin-top: 15px;
  font-weight: 700!important;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: 500;
  justify-content: center;
  padding: 14px;
  margin-bottom: 20px;
}