.main-body {
  background-image: url("./assets/bluebackground.jpg");
  background-size: cover;
}

.home {
  margin-top: 30px;
  padding: 50px 18px 50px 70px;
  text-align: center;
  height: 365px;
  box-sizing: border-box;
  width: 85%;
}

.home-heading {
  margin-bottom: 50px;
  font-family: "Alata", Sans-serif;
  font-size: 54px;
  line-height: 1.2;
  display: block;
  color: #030303;
  font-weight: 700;
  white-space: nowrap;
}
.subtitle {

  color: #ffffff;
  font-family: "Alata", Sans-serif;
  font-size: 16px;
  margin-left: 168px;
}
.buttons {
  align-items: stretch;
  background: linear-gradient(180deg, #f7f7f7 50%, #fff 0);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  height: 71px;
  justify-content: space-between;
  overflow: hidden;
}
.box {
  padding: 50px;
  width: 480px;
}
.sider {
  margin: auto;
  width: 35%;
}
.first-btn{
  width: 196px;
}
.buttons .buy {
  height: 62px;
  text-align: center;
  border: none;
  width: 222px;
  font-size: 20px;
  font-weight: bold;
  margin-left: -18px;
  cursor: pointer;
  border-top-right-radius: 45px;
}
.buttons .sell {
  /* background-color: #e95959 !important; */
  height: 60px;
  border: none;
  width: 196px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-bottom-left-radius: 120px;
}
.sider-content {
  padding: 18px;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.forms {
  display: flex;
  flex-direction: column;
}
.first-gray-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  margin-left: 4px;
  margin-right: -24px;
  margin-top: 1px;
}
.pay {
  color: black;
  display: block;
  font-size: 17px;
  font-weight: 500;
  line-height: 10px;
  margin-bottom: 0px;
  text-align: left;
}
.input-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.input-box {
  border: none !important;
  box-shadow: none !important;
  height: 25px !important;
  padding: 0 !important;
  border: none;
}
input {
  color: rgb(12, 12, 12);
  font-size: 26px;
  font-weight: 700;
  line-height: 136%;
  padding-left: 4px;
  height: 36px;
  background-color: transparent;
}
input[type="number"] {
  border: none;
  outline: none;
  font-size: 21px;
  caret-color: #004cff;
}
.input-div[type="number"]:focus {
  box-shadow: 0 0 5px 2px blue;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.second-gray-1 {
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  box-shadow: none !important;
  min-height: 44px;
  padding: 10px 11px;
}
.second-gray {
  margin-left: -21px;
}
.items {
  align-items: center;
  display: flex;
}
.usdt-pic {
  height: 24px;
  width: 24px;
}
.usdt-pic img {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 25px;
}
.bit-pic img {
  height: 20px;
  width: 20px;
}
.both-gray {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
}
.dropdown-1 {
  font-size: 18px;
  line-height: 24px;
  margin-left: 8px;
  color: black;
}
.buy-usdt {
  color: white;
  background-color: black;
  border-radius: 50px;
  width: 100%;
  display: flex;
  margin-top: 15px;
  font-weight: 700 !important;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "Alata", Sans-serif;
  font-weight: 500;
  justify-content: center;
  padding: 7px;
  margin-bottom: 20px;
}
.effect-text {
  color: #33cccc;
  margin-left: 7px;
}
.learn-more-btn button {
  font-family: "Alata", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  fill: #ffffff;
  color: #ffffff;
  background-color: #33cccc;
  border-radius: 50px 50px 50px 50px;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: 8px;
  width: 130px;
  margin-left: 20%;
  margin-top: 10px;
}
.card-selector-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -25px;
  border: none;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 12px;
}
.card-selector .ant-select-selector {
  font-size: 16px; /* Adjust font size as desired */
  border-color: black !important; /* Set border color to black on hover */
  border: none;
  margin-bottom: 10px;
}
.selection-cards-visamastercard {
  display: flex;
  /* margin-right: 10px; */
}
.selection-cards-visamastercard button {
  background-color: #b9dbf0;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.selection-cards-visamastercard button:hover {
  background-color: #78cf6c;
}

.selection-cards-visamastercard button.selected {
  background-color: #25ef3e;
  color: #fff;
}
.mastercard-image img {
  width: 35px !important;
}
.mastercard-button {
  width: 75px;
}
.choose-card {
  margin: 10px 10px;
  text-align: justify;
  font-size: 17px;
  font-family: "Alata", Sans-serif;
  color: black;
}
@media (max-width: 768px) {
  .main-body {
    display: flex;
    flex-direction: column;
    width: 160vh;
  }

  .home {
    text-align: center;
    margin: auto;
    margin-top: 140px;
  }

  .home-heading {
    text-align: center;
    font-size: 60px;
    margin-left: -190px;
  }
  .sider {
    margin: auto;
    margin-bottom: 58px;
  }
  .subtitle {
    font-size: 25px;
    line-height: 32px;
  }
  .learn-more-btn button {
    font-size: 25px;
    width: 171px;
  }
}

/*-------PUSH EFFECT CSS----*/
.pushEffect span:nth-child(1) {
  animation-delay: 7.5s;
  -ms-animation-delay: 2.5s; 
  -webkit-animation-delay: 2.5s;
}

.pushEffect span:nth-child(2) {
  animation-delay: 1.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

/* Push Effect */
.pushEffect {
  display: inline;
  text-indent: 8px;
  position: relative;
}

.pushEffect span {
  animation: push 8s linear infinite;
  -ms-animation: push 8s linear infinite;
  -webkit-animation: push 8s linear infinite;
  color: #eff5f0;
  opacity: 0;
  margin-left: 10px;
  overflow: hidden;
  position: absolute;
}

@keyframes push {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  60% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes push {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateX(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes push {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  5% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateX(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes push {
  0% {
    opacity: 0;
    -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  5% {
    opacity: 0;
    -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateX(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
