.main-body {
  /* background: linear-gradient(98deg, #ffffff, #ffffff, #ffffff); */
  background-color: #F5F2EA;
  background-size: 500% 500%;
  animation: gradient-animation 3s ease infinite;
  display: flex;
  margin-top: 30px;
  height: 94vh;
  width: 100%;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: hidden;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home {
  margin-top: 120px;
  padding-left: 56px !important;
  padding: 50px -41px 50px 90px;
  text-align: left;
  box-sizing: border-box;
}

.home-heading {
  margin-bottom: 35px;
  margin: auto;
  font-family: "Typold Extended Black";
  font-size: 40px;
  font-weight: 400;
  line-height: 2.0;
  display: block;
  color: #1b1b1b;
}
.home-heading-1{
  margin-bottom: 25px;
  margin: auto;
  font-family: "Typold Extended Black";
  font-size: 24px;
  line-height: 1.2;
  display: block;
  color: #1b1b1b;
  /* font-weight: 700; */
  white-space: nowrap;
}
.subtitle {
  color: #1b1b1b;
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  line-height: 2;
  padding-left: 2px;
  padding-right: 70px;
  margin-top: 30px;
}
.buttons {
  align-items: stretch;
  background: linear-gradient(180deg, #ffffff 50%, #ffffff 0);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  height: 62px;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box {
  padding: 50px;
  width: 420px;
}
.sider {
  margin: auto;
  width: 45%;
  margin-top: 50px;
}
.first-btn {
  width: 196px;
}
.buttons .buy {
  height: 60px;
  text-align: center;
  border: none;
  width: 160px;
  font-size: 16px;
  font-weight: 600 !important;
  /* font-weight: bold; */
  margin-left: -2px;
  cursor: pointer;
  /* border-top-right-radius: 45px; */
}
.buttons .sell {
  height: 60px;
  border: none;
  width: 156px;
  font-size: 16px;
  font-weight: 600 !important;
  /* font-weight: bold; */
  cursor: pointer;
  /* border-bottom-left-radius: 120px; */
}
.sider-content {
  padding: 7px 18px 18px 18px;
  background-color: #ffffff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.forms {
  display: flex;
  flex-direction: column;
}
.first-gray{
  display: flex;
}
.first-gray-1 {
  margin-left: 4px;
  /* margin-right: -24px; */
  margin-top: 13px;
}
.pay {
  color: black;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  margin-bottom: 0px;
  text-align: left;
  font-family: 'Outfit', sans-serif;
}
.input-div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.input-box {
  border: none !important;
  box-shadow: none !important;
  height: 25px !important;
  padding: 0 !important;
  border: none;
}
input {
  color: rgb(12, 12, 12);
  font-size: 26px;
  font-weight: 700;
  line-height: 136%;
  padding-left: 4px;
  height: 36px;
  background-color: transparent;
}
input[type="number"] {
  border: none;
  outline: none;
  font-size: 21px;
  caret-color: #004cff;
}
.input-div[type="number"]:focus {
  box-shadow: 0 0 5px 2px blue;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.second-gray-1 {
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  box-shadow: none !important;
  min-height: 44px;
  padding: 10px 11px;
}
.second-gray {
  margin-left: -21px;
}
.items {
  align-items: center;
  display: flex;
  margin-left: -29px;
}
.usdt-pic img {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 18px;
  margin-right: 5px;
}
.bit-pic img {
  height: 20px;
  width: 20px;
}
.both-gray {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F2EA;
  border-radius: 12px;
  padding: 5px;
}
.dropdown-1 {
  font-size: 12px;
  margin-right: 45px;
  line-height: 24px;
  color: black;
}
.buy-usdt {
  color: #1b1b1b;
  background-color: #fdc886;
  border-radius: 50px;
  width: 100%;
  display: flex;
  margin-top: 15px;
  font-weight: 600 !important;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  justify-content: center;
  padding: 7px;
  margin-bottom: 10px;
  border: none;
}
.effect-text {
  color: #33cccc;
  margin-left: 7px;
}
.learn-more-btn button {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 500;
  fill: #ffffff;
  color: #fdc886;
  background-color: #1b1b1b;
  border-radius: 50px 50px 50px 50px;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: none;
  padding: 5px 5px;
  width: 130px;
  height: 40px;
  margin-top: 1px;
  margin-left: 5px;
}
.card-selector-container {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  border: none;
  /* background-color: #f0f0f0; */
  padding: 7px;
  border-radius: 12px;
}
.card-selector .ant-select-selector {
  font-size: 16px; /* Adjust font size as desired */
  border-color: black !important; /* Set border color to black on hover */
  border: none;
  margin-bottom: 10px;
}
.selection-cards-visamastercard {
  display: flex;
  /* margin: 10px; */
  /* margin-right: 10px; */
}
.selection-cards-visamastercard button {
  background-color: #F5F2EA;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.selection-cards-visamastercard button:hover {
  background-color: #fae6df;
}

.selection-cards-visamastercard button.selected {
  background-color: #fdc886;
  color: #fff;
}
.homepage-cards {
  width: 74%;
}
.mastercard-button {
  width: 85px;
}
.choose-card {
  margin: 10px 2px;
  text-align: justify;
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  color: black;
}
.dropdown-amount {
  border-radius: 4px;
  width: 100%;
  margin-left: 23px;
  border: solid 1px #29262624;
  padding: 5px;
  box-shadow: none !important;
  height: 38px !important;
  font-size: 14px;
  color: #1b1b1b;
  background-color: #f0f0f0;
}

.dropdown-amount:focus {
  outline: none;
  border-color: #29262624; /* Set the border color when the select element is focused */
}

.dropdown-amount option {
  background-color: #f0f0f0; /* Set the background color of the options */
}

/*-------PUSH EFFECT CSS----*/
.pushEffect span:nth-child(1) {
  animation-delay: 7.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.pushEffect span:nth-child(2) {
  animation-delay: 1.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

/* Push Effect */
.pushEffect {
  display: inline;
  text-indent: 8px;
  position: relative;
}

.pushEffect span {
  animation: push 8s linear infinite;
  -ms-animation: push 8s linear infinite;
  -webkit-animation: push 8s linear infinite;
  color: #080808;
  opacity: 0;
  margin-left: 10px;
  overflow: hidden;
  position: absolute;
}

@keyframes push {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  60% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes push {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateX(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes push {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  5% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateX(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes push {
  0% {
    opacity: 0;
    -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  5% {
    opacity: 0;
    -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateX(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateX(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .main-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .home {
    padding: 61px;
    width: 100%;
    height: 169px;
  }

  .home-heading {
    font-size: 41px;
    white-space: pre-wrap;
    font-weight: 600;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
  }

  .learn-more-btn button {
    font-size: 25px;
    width: 171px;
    margin-left: 20%;
    margin-top: 10px;
  }

  .sider {
    margin-bottom: 58px;
    width: 100%;
    margin-top: 90px;
  }
    .box {
      padding: 50px 65px 50px 28px;
  }

  .buttons .buy,
  .buttons .sell {
    font-size: 16px;

  }

  .sider-content {
    padding: 18px;
  }

  .card-selector-container .button {
    font-size: 12px;
  }
}
