@import url('https://fonts.googleapis.com/css2?family=Alata&family=RocknRoll+One&display=swap');
* {
  margin: 0;
  font-family: "Montserrat,Tajawal,Open Sans,sans-serif;";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat,Tajawal,Open Sans,sans-serif;";
}
