* {
  font-family: "Alata", Sans-serif;
}
.header {
  background-image: url("./assets/blackbackground.jpg");
  background-size: cover;
}
.header-two {
  display: flex;
  flex-direction: column;
}
.logo img {
  width: 130px;
  padding: 9px;
  margin-left: 41px;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}
.user .anticon {
  margin-right: 10px;
}
.header {
  height: 40px;
  position: -webkit-sticky;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header .right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(250, 253, 255);
  margin-left: 10px;
}
.header .right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}
.header .left {
  width: 58%;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.first-four-navigation{
  width: 65%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.first-four-navigation > a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navlogin{
  margin-left: inherit;
}
.navlogin > a{
  color: white;
  text-decoration: none;
}
.header .left > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header .left > a:hover {
  /* text-decoration: underline; */
  color: rgb(240, 240, 243);
}
.header .left .hamburg {
  display: none;
  position: relative;
  cursor: pointer;
}
.header .left .hamburg > img {
  height: 40px;
  width: 40px;
}
.header .left .hamburg .navmenu {
  position: absolute;
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-direction: column;
  left: -100px;
  padding: 0px 30px;
}
.header .left .hamburg .navmenu > a {
  margin: 10px 0px;
  color: rgb(19, 18, 18);
  text-decoration: none;
}

.header .left .hamburg .navmenu > a:hover {
  /* text-decoration: underline; */
  color: rgb(236, 236, 242);
}
.cart-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cart-details {
  position: absolute;
  right: 70px;
  top: 0px;
  transform: translate3d(49px, 62px, 0px);
  min-width: max-content;
  z-index: 100;
}
.cart-inner {
  background-color: white;
  width: 341px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgb(0 0 0/15%), 0 2px 4px rgb(0 0 0/12%);
  color: black;
  overflow: hidden;
  opacity: 1;
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-details button {
  margin-bottom: 10px;
}

.cart-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-details li {
  margin-bottom: 10px;
  color: black;
}

.cart-header {
  display: flex;
  flex-direction: row;
  padding: 16px;
  text-decoration: none;
  gap: 12px;
  color: black;
}
.checkout {
  padding: 10px;
  text-align: center;
  background-color: red;
  margin: 30px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0/15%), 0 2px 4px rgb(0 0 0/12%);
}
.checkout a {
  text-decoration: none;
  color: #f2f2f2;
}
.cart {
  display: none; /* Initially hide the cart */
  /* Add your desired styles for the cart */
}

.cart.open {
  display: block; /* Show the cart when it's open */
}
.hamburger-menu {
  display: none;
  cursor: pointer;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.carticon{
  font-size: 28px;
  margin-right: 20px;
  color: #fff;
}
.ant-badge .ant-badge-count {
  background: rgb(136, 136, 223);
}


@media (max-width: 768px) {
  .header .left > a {
    display: none;
  }
  .header .left .hamburg {
    display: block;
  }
  .header .left {
    justify-content: flex-end;
  }
  .logo img{
    width: 120% ;
  }
  .header{
    height: 140px;
  }
  .header .left .hamburg>img {
    height: 120px;
    width: 143px;
  }
}
