.main {
  padding-bottom: 80px;
  padding-top: 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.side-div {
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  width: 58.33333333%;
}
.heading {
  font-size: 40px;
  display: inline-block;
  max-width: 495px;
  text-align: left;
  line-height: 132%;
  /* padding-bottom: 28px; */
  font-weight: 700;
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}
.side-content {
  color: #3f475a;
  font-size: 14px;
  line-height: 21px;
  /* margin: 16px auto 0; */
  position: relative;
  text-align: left;
  box-sizing: border-box;
    /* padding-left: 12px; */
    padding-right: 12px;
    width: 78.33333333%;
}
.content {
  line-height: 1.5;
  margin: auto;
  min-height: 394px;
  position: relative;
 vertical-align: top;  
}
.side-content .p{
  line-height: 1;
}
.card-img{
  margin-top: 126px ;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 12px;
  width: 41.66666667%;
}
img{
  width: 298px;
}