.offer-blue-box{
  background-color: #041B36;
  width: 91%;
  position: absolute;
  /* bottom: 50%; */
  top: 300%;
  left: 60px;
  /* bottom: -108px; */
  height: 450px;
  border-radius: 30px;
}
.offer-main-div{
 min-height: 580px;
}
.bulkorder-divs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bulk-order-image{
margin: 30px 20px 0px 20px;
width: 50%;
}
.bulk-order-image img{
 width:90%;
}
.offer-content{
  color: white;
  width: 50%;
  padding:40px;
  margin: 40px 40px 40px 60px;
}
.offer-content-list{
margin-top: 50px;
}
.offer-content-list li{
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.offer-heading{
  font-weight: 600;
  white-space: nowrap;
  font-size: 28px;
  word-spacing: 5px;
  line-height: 1.2;
  margin-left: 10px;
}