.main-section {
  background-color: #ffffff;

  text-align: center;
  padding: 0px 12px 80px 12px;
}
.section-box {
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  width: 64.333333%;
  margin-left: 19.333333%;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 132%;
  margin-left: auto;
  margin-right: auto;
}
.section-content-box {
  margin: auto;
  min-height: 60px;
  position: relative;
  width: 100%;
}
.section-content {
  margin-top: 24px;
  color: #3f475a;
  font-size: 14px;
  line-height: 22px;
  margin: 16px auto 0;
  text-align: left;
}
.section-table {
  margin: auto;
  position: relative;
  width: 100%;
  margin-bottom: 40px;

}
.listing {
  grid-gap: 10px;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: center;
  margin-top: 28px;
  max-width: 100%;
  overflow: hidden;
}
ul li {
  list-style: none;
}

.list-item {
  background: #f9f9f9;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
.listing a {
  display: block;
  overflow: hidden;
  padding: 16px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
}
.listing a:hover{
  background: #eae7e7;
}
.ant-collapse{
  background-color: white;
  width:100%;
  line-height: 1.5;
  margin-left: -20px;
}
.ant-collapse-expand-icon {
  display: flex !important;
  align-items: end !important ;
}