.skills {
  background-color: #181824;
  padding: 44px;
  
}
.skills .skills-header img {
  width: 35px;
  margin-right: 10px;
}
.skills .skills-header h1 {
  font-weight: bolder;
  font-size: 35px;
}
.skills .skills-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-content {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;
color: white;
margin-bottom: 20px;
}
.content-imgs{
  width: 300px;
  margin: 0;
  padding-top: 54px;
}
.simple-heading{
  font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 18px;
}
.simple-content{
  display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    max-width: 266px;
    padding-top: 16px;
}